.mirage {
  .boss-raid-detail {
    line-height: normal;

    ol,
    ul {
      list-style: none;
      padding-left: 0;
    }
    .section-title {
      padding: 16px 0;
      line-height: normal;
    }
    hr {
      background-color: #ffffff33;
    }

    .wrap-my-mirage {
      .util-list {
        .mirage-inventory {
          column-gap: 1px;
        }
      }
    }
  }
}

.is-mobile {
  .mirage {
    .boss-raid-detail {
      margin: 0 auto;
      width: 100%;

      .wrap-my-mirage {
        .util-list {
          margin: 0 0 24px;
          padding: 0;

          .mirage-inventory {
            height: 48px;

            .mirage-inventory-item {
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex: 1;
              background-color: rgba(255, 255, 255, 0.1);
              padding: 12px 16px;
            }

            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}


.is-desktop {
  .mirage {
    .boss-raid-detail {
      hr {
        margin: 32px 0;
      }
      .wrap-my-mirage {
        .util-list {
          .mirage-inventory {
            column-gap: 24px;

            .currency {
              button[class*=btn-] {
                margin-left: 4px;
              }
            }
          }
        }
      }
    }
  }
}
