.contents {
  &.mirage-playbook {
    --bgColor: #030227;
    --section-inner-width: 960px;

    background-color: var(--bgColor);
    color: rgba(#fff, 0.6);

    > div {
      width: 100%;
    }

    ul,
    ol {
      padding-left: 0;
      list-style: none;
    }

    img {
      max-width: 100%;
    }

    .list-caution {
      margin-top: 16px;
      font-size: 12px;

      > li {
        position: relative;
        padding-left: 16px;

        &::before {
          content: '';
          position: absolute;
          top: 6px;
          left: 7px;
          border: 1px solid;
          border-width: 2px 2px 0 0;
          border-radius: 100%;
        }

        &:not(:first-of-type) {
          margin-top: 8px;
        }
      }
    }

    .top-banner {
      position: relative;
      min-height: 560px;
      color: #fff;

      .top-inner {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        width: var(--section-inner-width);
        margin: 0 auto;
        padding-top: 376px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 560px;
        background: url('~@/assets/img/common/mirage-playbook/bg-top.webp') 50% 0 / auto 100% no-repeat;
      }
      .bi-top {
        margin-bottom: 40px;
        width: 286px;
        height: 120px;
        font-size: 0;
        background: url('~@/assets/img/common/mirage-playbook/bi-mirage.webp') 0 0 / cover no-repeat;
      }
      .desc {
        font-size: 24px;
        line-height: 1.33;
        font-weight: bold;
      }
    }

    .section {
      margin-top: 80px;
      max-width: none;

      &__inner {
        width: var(--section-inner-width);
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(#c4c4c4, 0.2);
        line-height: normal;
        color: rgba(#fff, 0.6);
      }

      .section-title {
        font-size: 24px;
        color: #fff;
      }

      .wrap-define {
        .define {
          margin-top: 80px;

          dt {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.2;
            color: #fff;
          }
          dd {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .desc {
              font-size: 16px;
              font-weight: normal;
              line-height: 1.5;

              > p {
                margin-top: 16px;
              }

              .wrap-function {
                display: block;
                margin-top: 16px;
                a {
                  display: inline-block;
                  font-size: 14px;
                  line-height: 1.71;
                  color: #fff;
                  border-bottom: 1px solid #fff;
                }
              }

              ul {
                list-style: none;
                margin: 0;
                padding: 0;
                margin-top: 16px;
                li {
                  position: relative;
                  font-size: 12px;
                  font-weight: normal;
                  line-height: 1.33;
                  padding-left: 16px;
                  margin-top: 8px;

                  &:first-of-type {
                    margin-top: 0;
                  }
                  &::before {
                    content: '';
                    position: absolute;
                    left: 6px;
                    top: 6px;
                    width: 2px;
                    height: 2px;
                    border-radius: 100%;
                    background-color: rgba(#fff, 0.5);
                  }
                }
              }
            }
            .wrap-img {
              position: relative;
              flex: 0 0 460px;
              width: 460px;
              margin-left: 40px;
              margin-top: -24px;
            }

          }

          &.score {
            dd {
              display: block;

              .wrap-img {
                display: block;
                margin: 0;
                width: auto;

                .wrap-image {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  row-gap: 32px;
                  margin-top: 16px;
                  padding: 40px 97px 56px;
                  background-color: rgba(255, 255, 255, 0.05);

                  figcaption {
                    margin-top: 0;
                    font-size: 12px;
                    line-height: 1.5;
                    color: rgba(255, 255, 255, 0.5);
                  }
                }
              }
            }
          }
          &.bidding {
            dd {
              .wrap-img {
                height: 319px;

                img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 522px;
                  transform: translate(-50%, -50%);
                  max-width: none;
                }
              }
            }
          }
          &.reward-items {
            dd {
              align-items: stretch;

              .wrap-img {
                justify-content: center;

                img {
                  width: 394px;
                }
              }
            }
          }
        }
        .wrap-img {
          display: flex;
          justify-content: space-between;
          gap: 24px;

          .wrap-image {
            img {
              display: block;
            }
          }
          figcaption {
            display: block;
            font-size: 12px;
            font-weight: normal;
            line-height: 1.5;
            color: rgba(#fff, 0.5);
            text-align: center;
            margin-top: 32px;
          }
        }
      }

      .title-table-rank {
        margin-top: 15px;
        margin-bottom: 11px;
        font-size: 14px;
        line-height: 1.86;
        color: #fff;
      }

      .list-table-rank {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1px;
        row-gap: 10px;

        > li {
          flex: 1;
        }

        .title-rank {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 40px;
          background-color: rgba(204, 204, 255, 0.2);
          font-size: 14px;
          color: rgba(#0df, 0.6);
          line-height: 1.71;
        }
        .data-value {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 48px;
          background-color: rgba(204, 204, 255, 0.1);
          color: #fff;
        }
      }

      &.section1,
      &.section2,
      &.section4 {
        .section-title {
          font-size: 32px;
        }
      }

      &.section-video {
        margin-top: 80px;
        background-color: #000;

        .section__inner {
          width: 960px;
          padding: 4px 0;
          border-bottom: 0;
        }
        .wrap-video {
          position: relative;
          padding-top: 0;
          transition: padding 0.3s;

          &.wrap-video--open {
            padding-top: 56.25%;
          }
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }

      &.section1 {
        text-align: center;

        p {
          margin-top: 24px;
          font-size: 20px;
          line-height: 1.4;

          em {
            color: #fff;
          }
        }
        .wrap-link {
          display: flex;
          align-items: center;
          gap: 4px;
          margin-top: 40px;

          .item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            row-gap: 8px;
            flex: 1;
            height: 120px;
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;

            strong {
              font-size: 24px;
              color: #f40;
            }
            .link {
              color: #fff;
              position: relative;
              font-size: 14px;
              z-index: 1;

              &::after {
                content: '';
                position: absolute;
                right: 0;
                left: 0;
                bottom: -2px;
                border-top: 1px solid;
              }
            }
          }
          .hidden-valley {
            background-image: url('~@/assets/img/common/mirage-playbook/bg-valleycapture.webp');
          }
          .boss-raid {
            background-image: url('~@/assets/img/common/mirage-playbook/bg-bossraid.webp');
          }
        }
      }

      &.section2 {
        .section__inner {
          padding-bottom: 80px;
        }
      }

      &.section3 {
        .section__inner {
          border-bottom: 0;
          padding-bottom: 0;
        }
        .section-title {
          font-size: 20px;
        }
        .desc {
          margin-top: 40px;
          line-height: 1.5;
        }
        .list-caution {
          margin: 40px 0;

          > li {
            color: #f00;
          }
        }
      }

      &.section-tabs {
        > .section__inner {
          padding-bottom: 80px;
          border-bottom: 0;
        }
        .v-tabs-bar {
          height: 37px;
          background-color: transparent;

          .v-tab {
            padding-top: 0;
            font-size: 16px;
            color: rgba(#fff, 0.4) !important;

            &--active {
              color: #fff !important;
            }
          }
        }
        .v-tabs-items {
          overflow: visible;
          background-color: transparent !important;
        }
        .v-tabs-slider {
          background-color: #f40 !important;
        }
        .tab-rounds {
          font-size: 16px;
        }
        .sup {
          position: relative;
          top: -0.1em;
          margin-left: 10px;
          font-size: 12px;
          font-weight: normal;
        }

        &.tab-hidden-valley {
          background: url('~@/assets/img/common/mirage-playbook/bg-hidden-valley.webp') 50% 57px / 1200px auto no-repeat;
        }
        &.tab-boss-raid {
          background: url('~@/assets/img/common/mirage-playbook/bg-section-bossraid.webp') 50% 75px / 1170px auto no-repeat;
        }
      }

      &.section4 {
        position: relative;

        .section__inner {
          position: relative;
        }

        .section-title {
          margin-top: 48px;
          margin-bottom: 40px;
        }
        .desc {
          margin-top: 16px;
          margin-bottom: 40px;

          > p {
            margin-top: 16px;
          }
        }
        .table {
          width: 100%;
          table-layout: fixed;
          border-collapse: collapse;
          color: #fff;

          caption {
            margin: 40px 0 16px;
            font-size: 16px;
            line-height: 1.5;
            text-align: left;
          }

          th {
            padding: 8px 16px;
            border-right: 1px solid var(--bgColor);
            background-color: rgba(204, 204, 255, 0.2);
            color: rgba(#00ddff, 0.6);
            text-align: left;
            font-size: 14px;
            line-height: 1.71;
            font-weight: normal;
          }
          td {
            padding: 12px 16px;
            border: 1px solid var(--bgColor);
            border-width: 1px 1px 0 0;
            background-color: rgba(204, 204, 255, 0.1);
          }

          .server {
            font-size: 18px;
            line-height: 1.33;
          }
          .value {
            font-size: 16px;
            line-height: 1.5;

            > img {
              width: 20px;
              height: 20px;
            }

            .txt-sm {
              > em {
                font-size: 12px;
              }
            }
          }
          .value-txt {
            font-size: 14px;
            line-height: 1.71;
          }
          .value-ps {
            margin-left: 2px;
            font-size: 12px;
            line-height: 2;
            color: rgba(#fff, 0.6);
          }

          + .list-caution {
            line-height: 1.33;

            > li {
              color: #f00;
            }
          }

          &.type-schedule {
            th {
              font-size: 20px;
              color: #fff;

              img {
                margin-right: 4px;
              }
            }
            td {
              padding: 16px 32px;
              font-size: 14px;
              line-height: 1.71;
            }

            .wrap-schedule {
              display: flex;
              flex-direction: column;

              .item {
                position: relative;

                &:not(:first-of-type) {
                  padding-top: 32px;

                  &::before {
                    content: '';
                    position: absolute;
                    top: 16px;
                    right: 0;
                    left: 0;
                    height: 1px;
                    background-color: rgba(#fff, 0.1);
                  }
                }
              }
            }
            .schedule {
              dt {
                color: #0df;
              }
            }
          }
        }
      }

      &.section5 {
        .section-title {
          margin-bottom: 40px;
        }
        .list-process {
          display: flex;
          justify-content: space-between;
          gap: 80px;
          flex-wrap: wrap;
          padding-left: 0;
          list-style: none;

          > li {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            width: 440px;

            strong {
              font-size: 16px;
              color: #fff;
              line-height: 1.63;
              font-weight: normal;
            }

            p {
              font-size: 14px;
              color: rgba(#fff, 0.5);
              line-height: 1.43;
            }

            img {
              align-self: center;
            }

            &:nth-child(1),
            &:nth-child(2) {
              p {
                min-height: 60px;
              }
            }
            &:nth-child(3),
            &:nth-child(4) {
              p {
                min-height: 40px;
              }
            }
          }
        }
      }

      &.section6 {
        .desc {
          margin-top: 16px;
          line-height: 1.5;
        }
        .list-requirement {
          display: flex;
          justify-content: space-between;
          gap: 40px;
          margin-top: 40px;

          > li {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            flex: 1;
          }

          .heading {
            display: flex;
            column-gap: 10px;

            h3 {
              font-size: 16px;
              color: #fff;
              font-weight: normal;
            }

            p {
              display: flex;
              align-items: center;
              font-size: 12px;
              color: rgba(#fff, 0.5);
            }
          }
        }
        .list-vigor {
          display: flex;
          flex-direction: column;
          row-gap: 1px;

          > li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 18px;
            background-color: rgba(204, 204, 255, 0.1);
          }

          .vigor-title {
            flex: 1;
            padding-right: 10px;
            font-size: 14px;
          }
          .vigor {
            display: flex;
            column-gap: 4px;
            font-size: 16px;
            color: #fff;

            &::before {
              content: '';
              width: 20px;
              height: 20px;
              background: url('~@/assets/img/common/mirage-playbook/ico-vigor.webp') 0 0 / cover no-repeat;
            }
          }
        }
        .list-caution {
          > li {
            color: rgba(#fff, 0.5);
          }
        }
      }

      &.section7 {
        .desc {
          margin-top: 16px;
        }
        .list-battle {
          display: flex;
          justify-content: space-between;
          gap: 2px;
          margin-top: 40px;
          text-align: center;

          > div {
            display: flex;
            align-items: center;
            flex-direction: column;
            row-gap: 16px;
            flex: 1;

            dt {
              font-size: 20px;
              color: #fff;
            }
            dd {
              background-repeat: no-repeat;
              background-size: 85px 85px;
              background-position: 50% 0;
              padding-top: 100px;
              font-size: 14px;
              line-height: 1.43;
            }
          }

          .enlist {
            dd {
              background-image: url('~@/assets/img/common/mirage-playbook/battle-system01.png');
            }
          }
          .assault {
            dd {
              background-image: url('~@/assets/img/common/mirage-playbook/battle-system02.png');
              background-size: 85px 77px;
            }
          }
          .recover {
            dd {
              background-image: url('~@/assets/img/common/mirage-playbook/battle-system03.png');
            }
          }
          .retreat {
            dd {
              background-image: url('~@/assets/img/common/mirage-playbook/battle-system04.png');
            }
          }
        }
      }

      &.section8 {
        .desc {
          margin-top: 16px;
          line-height: 1.5;
        }
        .wrap-system {
          display: flex;
          flex-wrap: wrap;
          column-gap: 40px;
          justify-content: space-between;

          .item {
            flex: 1;
          }
        }
        .list-wound {
          display: flex;
          justify-content: space-between;
          column-gap: 2px;
          text-align: center;

          > li {
            flex: 1;
            min-height: 334px;
            padding: 16px 15px;
            background-color: rgba(255, 255, 255, 0.05);

            &.serious {
              .define-state {
                dt {
                  color: #f60;
                }
                dd {
                  &::before {
                    background-image: url('~@/assets/img/common/mirage-playbook/character-wound-serious.webp');
                  }
                }
              }
            }
            &.critical {
              .define-state {
                dt {
                  color: #f00;
                }
                dd {
                  &::before {
                    background-image: url('~@/assets/img/common/mirage-playbook/character-wound-critical.webp');
                  }
                }
              }
            }
          }
        }
        .define-state {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 8px;

          dt {
            position: relative;
            padding-bottom: 36px;
            font-size: 14px;
            font-weight: bold;
            color: #ffed00;

            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: calc(50% - 14px);
              width: 29px;
              height: 29px;
              background: url('~@/assets/img/common/mirage-playbook/ico-damage.webp') 0 0 / cover no-repeat;
            }
          }
          dd {
            position: relative;
            align-self: stretch;
            padding-top: 148px;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: calc(50% - 64px);
              width: 128px;
              height: 141px;
              background: url('~@/assets/img/common/mirage-playbook/character-wound-normal.webp') 0 0 / cover no-repeat;
            }
          }
        }
        .list-desc {
          display: flex;
          flex-direction: column;

          > li {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 8px 0;
            border-top: 1px solid rgba(#c4c4c4, 0.2);

            &:last-child {
              padding-bottom: 0;
            }
          }

          .desc-title {
            margin-bottom: 4px;
            font-size: 12px;
            color: rgba(#fff, 0.5);
          }
          .desc-cont {
            font-size: 14px;
            color: #fff;
          }
        }
      }

      &.section9 {
        .desc {
          margin-top: 16px;
          line-height: 1.5;
        }
      }

      &.section10 {
        .section__inner {
          border-bottom: 0;
          padding-bottom: 80px;
        }
        .desc {
          margin-top: 16px;
          line-height: 1.5;
        }
        .wrap-img {
          display: flex;
          justify-content: space-between;
          column-gap: 60px;
          margin-top: 24px;
          margin-bottom: 80px;
          padding-top: 24px;
          text-align: center;
          font-size: 14px;
          color: #fff;

          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;

            &:nth-child(2) {
              position: relative;

              &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -38px;
                width: 16px;
                height: 4px;
                background: url('~@/assets/img/common/mirage-playbook/ico-dot.webp') 0 0 / 100% auto no-repeat;
              }
            }
          }
          .define-bonus {
            display: flex;
            align-items: center;
          }
          .tobe {
            position: relative;
            padding-left: 36px;

            em {
              color: #ff4400;
              font-weight: bold;
            }
            &::before {
              content: '';
              position: absolute;
              top: 3px;
              left: 10px;
              width: 17px;
              height: 10px;
              background: url('~@/assets/img/common/mirage-playbook/ico-arrow.webp') 0 0 / cover no-repeat;
            }
          }
        }
        .wrap-bonus {
          display: flex;
          justify-content: space-between;
          column-gap: 40px;

          .item {
            flex: 1;
          }
          .subject {
            color: #fff;
          }
          .list-bonus {
            display: flex;
            flex-direction: column;
            row-gap: 2px;
            margin-top: 16px;
            font-size: 14px;

            > li {
              display: flex;
              align-items: center;
              justify-content: space-between;
              column-gap: 16px;
              background-color: rgba(255, 255, 255, 0.05);
              padding: 9px 16px;
            }

            .define-title {
              flex: 1;
              padding-right: 12px;

              .txt-character {
                color: #fff;
                margin-left: 16px;
              }
            }
            .tobe {
              display: flex;
              justify-content: flex-end;
              position: relative;
              flex: 1;
              padding-left: 12px;
              text-align: right;

              em {
                margin-left: 16px;
                color: #ff4400;
                font-weight: bold;
              }

              &::before {
                content: '';
                position: absolute;
                top: 3px;
                left: -17px;
                width: 17px;
                height: 10px;
                background: url('~@/assets/img/common/mirage-playbook/ico-arrow.webp') 0 0 / cover no-repeat;
              }
            }
          }
        }
      }

      &.section11 {
        .section__inner {
          line-height: 1.5;
          padding-bottom: 0;
          border-bottom: 0;
        }

        .section-title {
          margin: 48px 0 160px;
          font-size: 32px;
        }
        .desc {
          margin-top: 16px;
        }
      }

      &.section12 {
        .section__inner {
          line-height: 1.5;
          padding-bottom: 0;
          border-bottom: 0;
        }
      }

      &.section13 {
        .section__inner {
          line-height: 1.5;
          padding-bottom: 0;
          border-bottom: 0;
        }
        .section-title {
          font-size: 20px;
        }
        .desc {
          margin-top: 16px;
        }
        .title-table-rank {
          &:first-of-type {
            margin-top: 56px;
          }
        }
      }

      &.section14 {
        margin-top: 55px;

        .section__inner {
          line-height: 1.5;
          padding-bottom: 0;
          border-bottom: 0;
        }

        .section-title {
          font-size: 20px;
        }
        .desc {
          margin-top: 16px;
        }
        .list-table-rank {
          + .desc {
            margin-top: 40px;
          }
        }
        .status-wound {
          display: flex;
          justify-content: center;
          column-gap: 1px;
          row-gap: 2px;
          margin-top: 16px;

          > div {
            max-width: 320px;
            flex: 1;
          }
        }
        .list-caution {
          margin-top: 40px;

          > li {
            color: #f00;
          }
        }
      }
      &.section15 {
        .section__inner {
          padding-bottom: 80px;
        }
        .list-caution {
          > li {
            color: #f00;
          }
        }
      }
      &.section16 {
        .section__inner {
          line-height: 1.5;
          padding-bottom: 0;
          border-bottom: 0;
        }
        .desc {
          margin-top: 16px;
        }
        .boss-wrap {
          display: flex;
          align-items: center;
          column-gap: 40px;
          margin-top: 80px;

          .boss-thumb {
            width: 160px;

            &.right {
              order: 1;
            }
          }
          .boss-intro {
            flex: 1;
          }
          .boss-name {
            font-size: 20px;
            color: #fff;
            line-height: normal;
            font-weight: 600;
          }
        }
        .boss-reward {
          display: flex;
          justify-content: center;
          column-gap: 2px;
          margin-top: 40px;

          .reward-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 8px;
            width: 190px;
            padding: 0 25px;
            text-align: center;
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: 140px 280px;

            > img {
              opacity: 0;
              height: 280px;
            }

            .reward-item-title {
              display: flex;
              align-items: center;
              min-height: 40px;
              margin-top: 8px;
              padding: 0 19px;
              color: #fff;
              line-height: 1.43;
              font-size: 14px;
            }
            .reward-category {
              font-size: 12px;
              line-height: normal;
              text-transform: uppercase;
            }

            &.by-viewer {
              position: relative;
              cursor: zoom-in;

              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 44px;
                height: 44px;
                background: url('~@/assets/img/desktop/promotion/2112-exd/btn-viewer.webp') 0 0 / cover no-repeat;
              }
            }

            &.warrior {
              background-image: url('~@/assets/img/common/mirage-playbook/reward-warrior.webp');
            }
            &.sorcerer {
              background-image: url('~@/assets/img/common/mirage-playbook/reward-sorcerer.webp');
            }
            &.taoist {
              background-image: url('~@/assets/img/common/mirage-playbook/reward-taoist.webp');
            }
            &.lancer {
              background-image: url('~@/assets/img/common/mirage-playbook/reward-lancer.webp');
            }
            &.arbalist {
              background-image: url('~@/assets/img/common/mirage-playbook/reward-arbalist.webp');
            }
            &.mount1 {
              background-image: url('~@/assets/img/common/mirage-playbook/reward-mount-1.webp');
            }
            &.mount2 {
              background-image: url('~@/assets/img/common/mirage-playbook/reward-mount-2.webp');
            }
          }

          &.mount {
            column-gap: 16px;

            .reward-item {
              width: auto;
              row-gap: 3px;
              flex: 1;
              background-size: 320px 320px;

              > img {
                height: 320px;
              }

              &.by-viewer {
                &::before {
                  left: 76px;
                }
              }
              .reward-category {
                text-transform: none;
              }
            }
            .reward-item-title {
              margin-top: 0;
            }
          }
        }
      }
      &.section17 {
        .section__inner {
          line-height: 1.5;
          padding-bottom: 0;
          border-bottom: 0;
        }
        .desc {
          margin-top: 16px;
        }
        .img-wrap {
          display: flex;
          align-items: center;
          column-gap: 40px;
          margin-top: 80px;

          .img-thumb {
            width: 160px;

            &.right {
              order: 1;
            }
          }
          .img-intro {
            flex: 1;
          }
          .img-title {
            font-size: 20px;
            color: #fff;
            line-height: normal;
            font-weight: 600;
          }
        }
        .list-caution {
          > li {
            color: #f00;
          }
        }
      }
      &.section18 {
        .section__inner {
          line-height: 1.5;
          padding-bottom: 80px;
          border-bottom: 0;
        }

      }
    }

    .footer {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }

    .is-mobile & {
      --section-inner-width: 100%;
      --section-padding: 24px;

      font-size: 14px;

      .list-caution {
        margin-top: 24px;
        line-height: 1.33;
      }

      .top-banner {
        min-height: 300px;
        text-align: center;

        .top-inner {
          max-width: 640px;
          padding: 324px 24px 0;
        }

        &::before {
          height: 300px;
          background-image: url('~@/assets/img/common/mirage-playbook/bg-top-m.webp');
        }

        .bi-top {
          margin-bottom: 24px;
          width: 192px;
          height: 80px;
        }
        .desc {
          font-size: 16px;
          line-height: 1.5;
        }
      }

      .section {
        position: relative;
        margin: 40px auto 0;
        width: 100%;
        max-width: none;

        &::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          height: 1px;
          background-color: rgba(#c4c4c4, 0.2);
        }

        &__inner {
          border-bottom: 0;
          margin: 0 auto;
          max-width: 640px;
          padding: 0 var(--section-padding) 40px;
        }
        .section-title {
          font-size: 24px;
        }
        .wrap-define {
          .define {
            margin-top: 40px;

            dt {
              font-size: 16px;
              line-height: 1.5;
            }

            dd {
              flex-direction: column;
              align-items: stretch;

              .desc {
                font-size: 14px;
                line-height: 1.43;

                > p {
                  margin-top: 8px;
                }
              }
              .wrap-img {
                width: auto;
                flex: none;
                justify-content: center;
                margin: 24px 0;
              }
            }

            &.roster {
              .wrap-image {
                img {
                  width: 100%;
                  max-width: 456px;
                }
              }
            }
            &.score {
              dd {
                .wrap-img {
                  width: calc(100% + 48px) !important;
                  margin: 0 -24px;

                  .wrap-image {
                    padding: 40px 0 56px;

                    img {
                      max-width: 87%;
                    }
                  }
                }
              }
            }
            &.enlisting {
              .wrap-image {
                img {
                  width: 375px;
                }
              }
            }
            &.vigor {
              .wrap-img {
                margin-bottom: 0;
                height: 292px;
                background: url('~@/assets/img/common/mirage-playbook/feature-vigor-640.webp') 50% 0 / auto 100% no-repeat;
              }
            }
            &.bidding {
              dd {
                .wrap-img {
                  height: auto;
                  margin-bottom: 0;

                  img {
                    position: static;
                    transform: none;
                    width: 460px;
                    max-width: 100%;
                  }
                }
              }
            }
            &.reward-items {
              dd {
                .wrap-img {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
        .title-table-rank {
          margin-top: 24px !important;
          font-size: 12px;
          line-height: 2.17;
        }
        .list-table-rank {
          flex-wrap: wrap;

          > li {
            flex: none;
            width: calc(20% - 1px);
          }
          .data-value {
            font-size: 16px;
          }
        }
        &.section-video {
          background-color: transparent;
          margin-top: 24px;

          &::after {
            content: none;
          }

          .section__inner {
            width: 100%;
          }
        }
        &.section1 {
          margin-top: 24px;
          p {
            font-size: 14px;
            line-height: 1.43;
          }
          .wrap-link {
            flex-direction: column;
            align-items: stretch;
            margin: 24px calc(-1 * var(--section-padding)) 0;

            .item {
              flex: none;
            }
            .hidden-valley {
              background: url('~@/assets/img/common/mirage-playbook/bg-valleycapture-m.webp') 50% 0 / auto 100% no-repeat;
            }
            .boss-raid {
              background: url('~@/assets/img/common/mirage-playbook/bg-bossraid-m.webp') 50% 0 / auto 100% no-repeat;
            }
          }
        }
        &.section2 {
          .section__inner {
            padding-bottom: 40px;
          }
          &::after {
            display: none;
          }
        }
        &.section3 {
          .section-title {
            font-size: 16px;
            line-height: 1.5;
          }
          .desc {
            margin-top: 8px;
          }
          .list-caution {
            margin: 24px 0 48px;
          }
          .lock-schedule {
            width: 100%;
            height: 542px;
            background: url('~@/assets/img/common/mirage-playbook/img-time-table-375.webp') 50% 50% / contain no-repeat;
          }
          &::after {
            display: none;
          }
        }
        &.section-tabs {
          > .section__inner {
            width: auto;
            max-width: none;
            padding: 0 0 40px 0;
          }
          .v-tabs-bar {
            height: 46px;

            .v-tab {
              padding: 0 16px;
              font-size: 14px;
            }
          }
          .tab-rounds {
            margin: 0 auto;
            max-width: 640px;
          }
          &.tab-hidden-valley {
            background-image: url('~@/assets/img/common/mirage-playbook/bg-hidden-valley-m.webp');
            background-size: 640px 208px;
            background-position-y: 46px;
          }
          &.tab-boss-raid {
            background-image: url('~@/assets/img/common/mirage-playbook/bg-section-bossraid-m.webp');
            background-size: 836px 223px;
            background-position-y: 46px;

            .desc {
              margin-top: 8px;
              font-size: 14px;
              line-height: 1.43;
            }
          }
          &::after {
            display: none;
          }
        }
        &.section4 {
          margin-top: 0;

          .section-title {
            margin-top: 40px;
            margin-bottom: 24px;
          }

          .desc {
            margin-bottom: 0;

            > p {
              margin-top: 8px;
              line-height: 1.43;
            }
          }
          .sup {
            top: -0.2em;
            margin-left: 4px;
          }
          .wrap-ds-info {
            + .list-caution {
              color: #f00;
              margin-bottom: 48px;
            }
          }
          .title-table {
            margin: 24px 0 2px;
            font-size: 12px;
            line-height: 2;
            color: #fff;
            font-weight: normal
            ;
          }
          .list-ds-info {
            display: flex;
            flex-direction: column;
            color: #fff;

            > li {
              display: flex;
              flex-direction: column;

              .info-title {
                margin-bottom: 1px;
                padding: 8px 16px;
                font-size: 16px;
                background-color: rgba(204, 204, 255, 0.2);
                line-height: 1.5;

                > img {
                  margin-right: 4px;
                }
              }

              &:not(:first-child) {
                margin-top: 2px;
              }
            }
          }

          .list-sub-info {
            display: flex;
            flex-direction: column;
            padding: 4px 16px;
            background-color: rgba(204, 204, 255, 0.1);

            > li {
              display: flex;
              padding: 8px 0;
              justify-content: space-between;

              &:not(:first-of-type) {
                border-top: 1px solid rgba(#c4c4c4, 0.2);
              }
            }

            .sub-title {
              width: 50%;
              font-size: 14px;
              line-height: 1.29;
              color: rgba(#00ddff, 0.6);
            }
            .value {
              font-size: 14px;
              line-height: 1.71;

              .txt-sm {
                > em {
                  font-size: 12px;
                }
              }

              &.mirage {
                font-size: 16px;
                line-height: 1.5;

                > img {
                  margin-top: 1px;
                }
              }
            }
            &.type-schedule {
              padding: 0 16px;

              > li {
                padding: 16px 0;
                flex-direction: column;

                p {
                  line-height: 1.43;
                }

                &.wide {
                  padding: 24px 0;
                }
              }
              .sub-title {
                width: auto;
                font-size: 12px;
                line-height: 2;
                color: #0df;
              }
            }
          }
        }
        &.section5 {
          .section-title {
            margin-bottom: 24px;
          }
          .list-process {
            > li {
              width: 100%;

              &:nth-child(1),
              &:nth-child(2) {
                p {
                  min-height: 40px;
                }
              }
            }
          }
        }
        &.section6 {
          .desc {
            margin-top: 24px;
            line-height: 1.43;

            + .list-caution {
              margin-top: 16px;
            }
          }
          .list-requirement {
            flex-direction: column;

            > li {
              row-gap: 8px;
            }
          }
          .list-vigor {
            > li {
              padding: 16px;
            }
          }
        }
        &.section7 {
          .section-title {
            margin-bottom: 24px;
          }
          .desc {
            margin-top: 8px;
            line-height: 1.43;
          }
          .list-battle {
            margin-top: 24px;
            gap: 24px;
            flex-wrap: wrap;

            > div {
              flex: none;
              width: calc(50% - 12px);

              dt {
                font-size: 16px;
              }

              dd {
                font-size: 12px;
                line-height: 1.67;
              }
            }
          }
        }
        &.section8 {
          .wrap-system {
            flex-direction: column;
          }
          .section-title {
            margin-bottom: 24px;
          }
          .desc {
            margin-top: 8px;
            line-height: 1.43;
          }
          .list-wound {
            margin-top: 24px;
            flex-direction: column;
            row-gap: 2px;

            .wrap-bg {
              position: relative;
              width: calc(50% - 12px);

              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: calc(50% - 30px);
                width: 60px;
                height: 29px;
                background: url('~@/assets/img/common/mirage-playbook/ico-damage-m.webp') 0 0 / cover no-repeat;
              }
              &::after {
                content: '';
                position: absolute;
                top: 37px;
                left: 0;
                width: 100%;
                height: 140px;
                background: url('~@/assets/img/common/mirage-playbook/character-wound-normal-m.webp') 50% 0 / auto 100% no-repeat;
              }
            }

            > li {
              display: flex;
              justify-content: flex-end;
              padding: 16px;
              min-height: 208px;
              column-gap: 24px;

              &.serious {
                .wrap-bg {
                  &::after {
                    background-image: url('~@/assets/img/common/mirage-playbook/character-wound-serious.webp');
                  }
                }
              }
              &.critical {
                .wrap-bg {
                  &::after {
                    background-image: url('~@/assets/img/common/mirage-playbook/character-wound-critical.webp');
                  }
                }
              }
            }

            .define-state {
              width: calc(50% - 12px);
              align-items: start;
              row-gap: 16px;
              justify-content: center;

              dt {
                padding-bottom: 0;

                &::after {
                  display: none;
                }
              }

              dd {
                padding-top: 0;

                &::before {
                  display: none;
                }
              }
            }
          }
          .list-desc {
            row-gap: 16px;

            > li {
              align-items: start;
              padding: 0;
              border-top: 0;
            }
          }
        }
        &.section9 {
          .section-title {
            margin-bottom: 24px;
          }
          .desc {
            margin-top: 8px;
            line-height: 1.43;
          }
        }
        &.section10 {
          &::after {
            display: none;
          }
          .section__inner {
            padding-bottom: 0;
          }
          .section-title {
            margin-bottom: 24px;
          }
          .desc {
            margin-top: 8px;
            line-height: 1.43;
          }
          .wrap-img {
            flex-direction: column;
            padding-top: 16px;
            row-gap: 68px;
            margin-bottom: 32px;

            .item {
              &:nth-child(2) {
                &::before {
                  top: -36px;
                  left: 50%;
                  transform: rotate(90deg);
                }
              }
            }
          }
          .wrap-bonus {
            flex-direction: column;
            row-gap: 24px;

            .subject {
              font-size: 12px;
              line-height: 2;
            }

            .list-bonus {
              margin-top: 8px;
              font-size: 12px;

              > li {
                padding: 12px 0;
              }
              .define-title {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 12px;
                row-gap: 4px;

                .txt-character {
                  margin-left: 0;
                }
              }
              .tobe {
                flex-direction: column;
                align-items: center;
                row-gap: 4px;
                padding-right: 12px;

                em {
                  font-size: 14px;
                }

                &::before {
                  top: calc(50% - 5px);
                }
              }
            }
          }
        }
        &.section11 {
          .section-title {
            margin-top: 40px;
          }
        }
        &.section12 {
          margin-top: 80px;

          .wrap-define {
            .define {
              dt {
                margin-bottom: 8px;
                line-height: normal;
              }
              dd {
                flex-direction: column;

                .desc {
                  > p {
                    margin-top: 8px;
                  }
                }
              }
            }
          }
        }
        &.section13 {
          .section-title {
            margin-bottom: 24px;
            font-size: 16px;
            line-height: normal;
          }
        }
        &.section14 {
          margin-top: 80px;

          .section-title {
            font-size: 16px;
            margin-bottom: 24px;
          }
          .list-table-rank {
            + .desc {
              margin-top: 24px;
            }
          }
          .status-wound {
            flex-direction: column;
            margin-top: 24px;

            > div {
              background-color: #100f32;
              max-width: none;
              text-align: center;

              img {
                max-width: 327px;
                background-color: #030227;
              }
            }
          }
          .list-caution {
            margin-top: 24px;
          }
        }
        &.section15 {
          .section__inner {
            padding-bottom: 40px;
          }
          .list-caution {
            margin-top: 8px !important;
          }
          .wrap-define {
            .define {
              dd {
                .wrap-img {
                  margin: 24px auto 0;
                  background: url('~@/assets/img/common/mirage-playbook/img-curse-system-375.webp') 50% 0 / cover no-repeat;
                  width: 100%;
                  padding-top: 97.86%;
                }
              }
            }
          }
        }
        &.section16 {
          .section-title {
            line-height: normal;
          }
          .boss-wrap {
            flex-direction: column;
            row-gap: 16px;

            .boss-name {
              align-self: stretch;
              margin-bottom: 8px;
              font-size: 18px;
            }
            .boss-thumb {
              width: 120px;
            }

            &:first-of-type {
              margin-top: 40px;
            }
          }
          .boss-reward {
            flex-wrap: wrap;
            margin-top: 24px;
            column-gap: 24px;
            row-gap: 24px;

            .reward-item {
              width: auto;
              flex: 1 1 33%;

              .reward-item-title {
                padding: 0;
              }
            }

            &.mount {
              flex-direction: column;
              align-items: center;
              row-gap: 16px;

              .reward-item {
                row-gap: 16px;
                max-width: 320px;

                &.by-viewer {
                  &::before {
                    left: 0;
                  }
                }
              }
            }
          }
        }
        &.section17 {
          .img-wrap {
            flex-direction: column;
            row-gap: 16px;

            .img-title {
              margin-bottom: 8px;
              font-size: 18px;
            }
          }
          .list-caution {
            line-height: 1.67;
          }
        }
        &.section18 {
          margin-top: 80px;

          .section__inner {
            padding-bottom: 40px;
          }

          .wrap-define {
            .define {
              dt {
                font-size: 18px;
                line-height: normal;
                margin-bottom: 8px;
              }
            }
          }
        }

        &.section11,
        &.section12,
        &.section13,
        &.section14,
        &.section16,
        &.section17,
        &.section18 {
          &::after {
            display: none;
          }
        }
      }

      .footer {
        margin-top: 0 !important;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .contents {
    &.mirage-playbook {
      .is-mobile & {
        .section {
          &.section2 {
            .wrap-define {
              .define {
                &.vigor {
                  margin-right: -24px;
                  margin-left: -24px;
                }

                &.score {
                  dd {
                    .wrap-img {
                      .wrap-image {
                        img {
                          max-width: 93.6%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          &.section3 {
            .lock-schedule {
              height: 470px;
              background: url('~@/assets/img/common/mirage-playbook/img-time-table-960.webp') 50% 50% / contain no-repeat;
            }
          }
          &.section10 {
            .wrap-bonus {
              .subject {
                font-size: 16px;
              }
            }
          }
          &.section15 {
            .wrap-define {
              .define {
                dd {
                  .wrap-img {
                    background-image: url('~@/assets/img/common/mirage-playbook/img-curse-system-960.webp');
                    background-size: contain;
                    padding-top: 60%;
                    max-width: 460px;
                    padding-top: 61%;
                  }
                }
              }
            }
          }
          &.section16 {
            .boss-reward {
              column-gap: 2px;
            }
          }
        }
      }
    }
  }
}

.is-desktop {
  .mirage-playbook {
    .section-video {
      margin-top: 80px !important;
    }
  }
}
