.contents {
  &.mirage-mirax {
    --mirax-bgColor: #030227;
    --mirax-top-banner-height: 500px;
    --mirax-section-inner-width: 960px;
    --mirax-margin-y: 80px;
    --mirax-color-red: #f00;
    --mirax-color-yellow: #ffec44;

    padding-top: 100px;
    background-color: var(--mirax-bgColor);

    > div {
      width: 100%;
    }

    ul,
    ol {
      padding-left: 0;
      list-style: none;
    }

    img {
      max-width: 100%;
    }

    .invisible {
      position: absolute !important;
      top: -1px;
      left: -1px;
      overflow: hidden;
      visibility: hidden;
      height: 1px !important;
      width: 1px !important;
      font-size: 0;
      word-wrap: normal;
    }

    .top-banner {
      position: relative;
      min-height: var(--mirax-top-banner-height);
      color: #fff;
      line-height: normal;

      .top-inner {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        width: var(--mirax-section-inner-width);
        margin: 0 auto;
        padding-top: 271px;
        text-align: center;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: var(--mirax-top-banner-height);
        background: url('~@/assets/img/desktop/mirage-mirax/bg-top.webp') 50% 0 / auto 100% no-repeat;
      }
      .bi-top {
        font-size: 100px;
        line-height: normal;
      }
      .desc {
        font-size: 24px;
        line-height: 1.33;
        font-weight: bold;
      }
    }

    .section {
      color: rgba(#fff, 0.6);
      line-height: normal;
      max-width: none;

      &__inner {
        width: var(--mirax-section-inner-width) !important;
      }

      .concept {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 741px;
        margin: 0 auto;

        .concept-desc {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          row-gap: 4px;
          width: 291px;
          min-height: 120px;
          padding: 15px 54px;
          background: url('~@/assets/img/desktop/mirage-mirax/bg-concept-frame.webp') 0 0 / 100% 100% no-repeat;
          text-align: center;

          > strong {
            color: #fff;
            font-size: 24px;
            font-weight: bold;
          }
          > span {
            font-size: 12px;
            line-height: 1.33;
          }
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 225px;
          background: url('~@/assets/img/desktop/mirage-mirax/bg-concept-mirage.webp') 0 0 / 100% 100% no-repeat;
        }
        &::after {
          left: auto;
          right: 0;
          background-image: url('~@/assets/img/desktop/mirage-mirax/bg-concept-mir4.webp');
        }
      }

      .section-title {
        margin-top: var(--mirax-margin-y);
        margin-bottom: 24px;
        font-size: 32px;
        line-height: 1.25;
        color: #fff;

        > em {
          color: var(--mirax-color-red);
        }
      }

      .desc {
        font-size: 20px;
        line-height: 1.4;

        > em {
          color: #fff;
        }
        &:not(:first-of-type) {
          margin-top: 16px;
        }
      }

      .wrap-define {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 40px;
        margin-top: var(--mirax-margin-y);

        .define {
          display: flex;
          justify-content: center;
          flex-direction: column;
          flex: 1;
          margin-top: 0;
        }
        .wrap-img {
          width: 460px;
        }

        &.is-reverse {
          .define {
            order: 1;
          }
        }
      }

      .define {
        margin-top: var(--mirax-margin-y);

        > dt {
          margin-bottom: 16px;
          font-size: 20px;
          color: #fff;
          line-height: 1.2;
          font-weight: bold;
        }
        .desc {
          font-size: 16px;
          line-height: 1.5;
        }

        .figure-img {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          row-gap: 32px;
          margin-top: 40px;
          padding: 40px 93px 56px;
          background-color: rgba(255, 255, 255, 0.05);

          figcaption {
            font-size: 12px;
            line-height: 1.5;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }

      .applying-step {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 16px;
        margin-top: 40px;
        padding: 0 24px;
        min-height: 408px;
        text-align: center;

        .wrap-step {
          display: flex;
          flex-direction: column;
          justify-content: center;
          row-gap: 16px;
          width: 160px;

          .image {
            position: relative;
            width: 100%;
            height: 240px;
          }

          &.step1,
          &.step4 {
            width: 156px;
          }
          &.step2,
          &.step3 {
            .image {
              &::before {
                content: '';
                position: absolute;
                top: -23px;
                left: calc(50% - 110px);
                width: 220px;
                height: 100%;
                background-position: 50% 50%;
                background-size: 245px 268px;
                background-repeat: no-repeat;
              }
            }
            .wrap-score {
              position: relative;
              z-index: 2;
              margin-top: -62px;
            }
          }

          &.step1 {
            .image {
              background: url('~@/assets/img/common/mirage-mirax/img-applying-step01.webp') 50% 50% / cover no-repeat;
            }
          }
          &.step2 {
            .image {
              &::before {
                background-image: url('~@/assets/img/common/mirage-mirax/img-applying-step02.webp');
              }
            }
            .step-desc {
              > em {
                color: var(--mirax-color-red);
              }
            }
          }
          &.step3 {
            .image {
              &::before {
                background-image: url('~@/assets/img/common/mirage-mirax/img-applying-step03.webp');
              }
            }
            .step-desc {
              > em {
                color: var(--mirax-color-yellow);
              }
            }
          }
          &.step4 {
            .image {
              background: url('~@/assets/img/common/mirage-mirax/img-applying-step04.webp') 50% 50% / cover no-repeat;
            }
          }
        }

        .wrap-score {
          .mirage-score {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2px;
            margin-bottom: 22px;

            dt {
              font-size: 12px;
            }
            dd {
              display: flex;
              align-items: center;
              column-gap: 4px;
              font-size: 20px;
              font-weight: bold;
              color: #fff;

              &::before {
                content: '';
                width: 15px;
                height: 16px;
                background: url('~@/assets/img/desktop/mirage-mirax/icon-mirage-score.webp') 0 0 / 100% auto no-repeat;
              }
            }
          }
          .mirax {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 4px;

            dd {
              color: #fff;
              font-weight: bold;
            }
          }
        }

        .step-desc {
          position: relative;
          margin-top: 16px;
          min-height: 44px;
          color: #fff;
          font-size: 16px;
          line-height: 1.38;

          > em {
            font-weight: bold;
          }

          &::before {
            content: '';
            position: absolute;
            top: -16px;
            left: 0;
            right: 0;
            height: 1px;
            background-color: rgba(#fff, 0.2);
          }
        }

        .summary {
          display: flex;
          align-items: center;
          flex: 1;

          &__inner {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            column-gap: 4px;

            &::before,
            &::after {
              content: '';
              flex: 1;
              height: 1px;
              background-color: rgba(#fff, 0.5);
            }
          }

          .txt {
            color: #fff;
            font-size: 10px;
            line-height: 1.5;

            &.gain {
              display: flex;
              flex-direction: column;
              align-items: center;

              .icon-mirax {
                width: 34px;
                height: 40px;
                font-size: 0;
                background: url('~@/assets/img/common/mirage-mirax/icon-gain-mirax.webp') 0 0 / cover no-repeat;
              }
              .gain-value {
                font-size: 16px;
                line-height: 1.13;
                color: var(--mirax-color-yellow);
              }
            }
          }


        }
      }

      .section-remark {
        margin-top: var(--mirax-margin-y);
        margin-bottom: 40px;
        text-align: center;
        font-size: 32px;
        line-height: 1.25;
        color: #fff;

        em {
          color: var(--mirax-color-red);
        }
      }

      .caution {
        margin-top: 16px;
        font-size: 12px;
        color: var(--mirax-color-red);
        line-height: 1.5;
      }
    }

    .is-mobile & {
      --mirax-section-inner-width: 100%;
      --mirax-section-padding: 24px;
      --mirax-section-max-width: 640px;
      --mirax-top-banner-height: 291px;
      --mirax-margin-y: 64px;

      padding-top: 54px;

      .no-gutter {
        position: static;
        width: calc(100% + var(--mirax-section-padding) * 2) !important;
        margin: 0 calc(var(--mirax-section-padding) * -1);
      }

      .top-banner {
        .top-inner {
          max-width: var(--mirax-section-max-width);
          padding-top: 165px;
        }
        .bi-top {
          font-size: 64px;
        }
        .desc {
          font-size: 16px;
          line-height: 1.5;
        }

        &::before {
          top: 19px;
          height: 242px;
          background: url('~@/assets/img/mobile/mirage-mirax/bg-top.webp') 50% 0 / auto 100% no-repeat;
        }
      }

      .section {
        margin: 0;
        width: auto;
        max-width: none;

        &__inner {
          max-width: var(--mirax-section-max-width);
          margin: 0 auto;
          padding: 0 var(--mirax-section-padding);
        }

        .concept {
          width: 299px;
          margin: 24px auto -16px;

          .concept-desc {
            width: 134px;
            min-height: 84px;
            background-image: url('~@/assets/img/mobile/mirage-mirax/bg-concept-frame.webp');
            row-gap: 6px;
            padding: 9px 20px 12px;

            > strong {
              font-size: 17px;
            }
            > span {
              font-size: 10px;
              line-height: 1.2;
            }
          }

          &::before,
          &::after {
            width: 83px;
            background-image: url('~@/assets/img/mobile/mirage-mirax/bg-concept-mirage.webp');
          }
          &::after {
            background-image: url('~@/assets/img/mobile/mirage-mirax/bg-concept-mir4.webp');
          }
        }

        .intro {
          padding-bottom: 24px;
        }

        .section-title {
          font-size: 24px;
          line-height: 1.33;
        }

        .desc {
          font-size: 14px;
          line-height: 1.43;

          &:not(:first-of-type) {
            margin-top: 8px;
          }
        }

        .wrap-define {
          flex-direction: column;
          row-gap: 24px;

          .wrap-img {
            width: auto;
            text-align: center;

            img {
              max-width: 375px;
            }

            &.no-gutter {
              padding: 24px 0;
              background-color: rgba(255, 255, 255, 0.05);

              img {
                max-width: 327px;
              }
            }
          }
        }
        .define {
          .figure-img {
            padding: 40px 0 52px;

            img {
              max-width: 87%;
            }
          }
        }

        .caution {
          margin: 16px -8px 0;
        }

        .applying-step {
          flex-direction: column;
          align-items: stretch;
          margin: 64px auto;
          max-width: 327px;
          padding: 0;
          row-gap: 24px;

          .wrap-step {
            justify-content: space-between;
            flex-flow: row wrap;
            gap: 24px 16px;

            &.step1,
            &.step2,
            &.step3,
            &.step4 {
              width: 100%;

              .wrap-score {
                margin-top: 0;
              }
            }
            &.step1,
            &.step4 {
              .image {
                width: 156px;
              }
            }
            &.step2,
            &.step3 {
              .image {
                width: 171px;
                height: 236px;

                &::before {
                  top: 0;
                  left: -24px;
                }
              }
            }
          }
          .wrap-score {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex: 1;
            row-gap: 16px;

            .mirage-score {
              margin-bottom: 0;

              dd {
                font-size: 24px;

                &::before {
                  width: 19px;
                  height: 22px;
                  background-image: url('~@/assets/img/mobile/mirage-mirax/icon-mirage-score.webp');
                }
              }
            }

            .step-desc {
              padding-top: 16px;
              border-top: 1px solid rgba(255, 255, 255, 0.2);
              font-size: 16px;
              line-height: 1.38;
            }
          }
          .step-desc {
            width: 100%;
            margin-top: 0;
            min-height: auto;
            font-size: 14px;
            line-height: 1.57;

            &::before {
              display: none;
            }
          }

          .summary {
            min-height: 40px;

            &__inner {
              column-gap: 8px;

              &::before,
              &::after {
                background-color: rgba(#fff, 0.2);
              }
            }

            .txt {
              font-size: 12px;
              line-height: 1.25;
              font-weight: normal;

              &.gain {
                flex-direction: row;
                column-gap: 8px;
              }
            }
          }
        }

        .section-remark {
          margin-bottom: 0;
          font-size: 24px;
          line-height: 1.33;
        }
      }
    }
  }
}

@media screen and (max-width: 359px) {
  .contents {
    &.mirage-mirax {
      .is-mobile & {
        .section {
          .applying-step {
            .wrap-step {
              flex-direction: column;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .contents {
    &.mirage-mirax {

        .section {
          .wrap-define {
            .wrap-img {
              img {
                max-width: 100% !important;
              }
            }
          }

      }
    }
  }
}

@media screen and (min-width: 640px) {
  .is-mobile {
    .contents {
      &.mirage-mirax {
        .section {
          .define {
            .figure-img {
              img {
                max-width: 90.3% !important;
              }
            }
          }
          .wrap-define {
            .wrap-img {
              max-width: 100% !important;
            }
          }
        }
      }
    }
  }
}
