.for-list {
  .wrap-swiper {
    display: flex;
    position: relative;
    left: calc(-1 * var(--intro-draco-padding));
    width: calc(100% + (var(--intro-draco-padding) * 2));

    &.sticky {
      position: sticky;
      top: 54px;
      left: 0;
      margin-top: -8px;
      margin-left: calc(-1 * var(--intro-draco-padding));
      z-index: 1;

      .collectible & {
        top: 0;
      }
    }
  }

  .wrap-filter {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
    padding: 8px 0;
    background-color: #020219;

    .wrap-filter-button {
      position: relative;
      color: #fff;

      .btn-select-filter {
        width: 100%;
      }
    }

    .btn-select-filter {
      @include box-filter-style;
    }

    .btn-price-range {
      @include box-filter-style;
      display: flex;
      align-items: center;
      padding-right: 16px;
      padding-left: 16px;
      height: 100%;
      font-size: 14px;
      color: #fff;
      white-space: nowrap;
      box-sizing: border-box;

      &::before {
        content: '';
        display: block;
        margin-right: 8px;
        width: 16px;
        height: 16px;
        background: url('~@/assets/img/ico-range-filter.webp') 50% 50% / contain no-repeat;
      }
    }

    &.swiper-container {
      .swiper-slide {
        width: auto;
      }
    }

    .contents.mirage & {
      background-color: #030227;
    }
  }

  .wrap-filter-chip {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    position: relative;
    margin-top: 12px;

    .v-chip.v-chip--outlined.v-chip {
      border-radius: 14px !important;
      height: 32px;
      color: #ffe600;
      background-color: rgba(#ffe600, 0.2) !important;
      box-sizing: border-box;

      &::before {
        background-color: rgba(#fff, 0.1) !important;
      }

      .v-chip__content {
        > img {
          margin-left: 4px;
          width: 10px;
          height: 10px;
          cursor: pointer;
        }
      }
    }

    .btn-filter-reset {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      padding: 8px;
      color: #fff;
      cursor: pointer;

      > img {
        margin-left: 4px;
        width: 16px;
        height: 16px;
      }
    }
  }

  .wrap-date-order {
    display: flex;
    position: relative;
    margin-bottom: 26px;

    .v-input__control {
      display: block;
      flex: auto;
      width: auto;
    }

    .v-menu__content {
      right: 0;
      left: auto !important;
    }
  }

  .filter-check {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    border: solid 1px rgba(#fff, 0.15);
    padding: 8px;
    height: 40px;
    background-color: #0f0f25;
    box-sizing: border-box;

    .filter-check-img {
      width: 20px;
      height: 20px;
    }

    .filter-check-label {
      margin-left: 8px;
      color: white;
      font-size: 14px;
    }

    &.filter-check--checked {
      border-color: rgba(#fff, 0.3);
    }
  }

  .layer-filter {
    top: 56px !important;
    left: var(--intro-draco-padding) !important;
    max-width: 100vw;
    min-width: 100vw;
  }
}

.title-for-list {
  margin: 24px 0 16px;
  border-bottom: 1px solid rgba(#fff, .2);
  padding-bottom: 16px;
  line-height: 1.6;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.is-desktop {
  .wrap-filter {
    position: sticky;
    top: 60px;
    z-index: 1;
    padding: 16px 0 10px;
    background-color: #020219;

    &__inner {
      display: flex;
      gap: 8px;
      margin-bottom: 8px;
    }

    .wrap-price-range {
      position: relative;
      color: #fff;
      font-size: 12px;

      .wrap-button {
        margin-top: 0;
      }
    }

    .wrap-filter-button {
      position: relative;
      color: #fff;

      .btn-select-filter {
        width: 100%;
      }
    }

    .btn-select-filter {
      @include box-filter-style;
    }

    .filter-status {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      letter-spacing: -0.14px;

      dd {
        display: flex;
        gap: 4px;
        color: #fff;
      }
    }

    .btn-price-range {
      @include box-filter-style;
      display: flex;
      align-items: center;
      padding-right: 16px;
      padding-left: 16px;
      height: 100%;
      font-size: 14px;
      color: #fff;
      box-sizing: border-box;

      &::before {
        content: '';
        display: block;
        margin-right: 8px;
        width: 16px;
        height: 16px;
        background: url('~@/assets/img/ico-range-filter.webp') 50% 50% / contain no-repeat;
      }
    }

    .select-filter.v-select {
      flex: 1;
    }

    .filter-range-slider {
      margin: 12px 0 6px;
      color: #fff;

      .v-slider,
      .v-input__slot {
        margin: 0;
      }
    }

    &.equally-child {
      .wrap-filter__inner {
        > div {
          flex: 1;
        }
      }
    }

    .contents.mirage & {
      background-color: #030227;
    }
  }

  .wrap-filter-chip {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 24px;

    .wrap-chips {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      padding-bottom: 8px;
    }

    .v-chip.v-chip--outlined.v-chip {
      border-radius: 14px !important;
      height: 28px;
      color: #ffe600;
      background-color: rgba(#ffe600, 0.2) !important;
      box-sizing: border-box;

      &::before {
        background-color: rgba(#fff, 0.1) !important;
      }

      .v-chip__content {
        > img {
          margin-left: 4px;
          width: 10px;
          height: 10px;
          cursor: pointer;
        }
      }
    }

    .btn-filter-reset {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 4px 8px;
      height: 28px;
      font-size: 14px;
      color: #fff;
      cursor: pointer;
      box-sizing: border-box;

      > img {
        margin-left: 4px;
        width: 16px;
        height: 16px;
      }
    }

    .filter-divider {
      flex: 1 1 auto;
    }

    .select-filter {
      top: -6px;
      flex: 0 !important;
    }
  }

  .title-for-list {
    margin: 32px 0;
  }
}
