.round-number + .round-title {
  padding-left: 16px;
}
.round-title {
  line-height: normal;

  .category {
    --color-epic: #ff002e;
    --color-legendary: #ffff00;
    --color-rare: #3391ff;
    --color-uncommon: #00b267;
    --color-tier: #fff;

    margin-bottom: 6px;
    font-size: 0;
    span {
      display: inline-block;
      font-size: 10px;
      font-weight: 700;
      padding: 0 4px;
      color: #fff;
      border: 1px solid #fff;
      margin-left: 4px;
      &:first-of-type {
        margin-left: 0;
      }
      &.legendary,
      &.grade-5 {
        color: var(--color-legendary);
        border-color: var(--color-legendary);
      }
      &.epic,
      &.grade-4 {
        color: var(--color-epic);
        border-color: var(--color-epic);
      }
      &.rare,
      &.grade-3 {
        color: var(--color-rare);
        border-color: var(--color-rare);
      }
      &.uncommon,
      &.grade-2 {
        color: var(--color-uncommon);
      }
      &.tier {
        color: var(--color-tier);
        border-color: var(--color-tier);
      }
    }
  }
  .item-name {
    margin: 0;
    font-size: 16px !important;
    font-weight: bold;
    color: #fff;
    letter-spacing: -0.2px;
    max-width: calc(100% - 16px);
    @include text-overflow();

    em {
      color: #ffe600;
      margin-left: 4px;
    }
  }
  em {
    font-style: normal;
  }
  .time {
    display: block;
    font-size: 12px;
    font-weight: normal;
    color: #00000050;
  }
  .history,
  .desc {
    font-size: 16px;
    color: #000;
    line-height: 1.25;
  }
  .history {
    .ico-darco.ico-xs {
      font-weight: 700;
    }
  }
}

.is-desktop {
  .round-title {
    line-height: 1.3;
    font-size: 20px;

    .category {
      span {
        &.uncommon,
        &.grade-2 {
          border-color: var(--color-uncommon);
        }
      }
    }

    em {
      font-style: normal;
    }

    .item-name {
      max-width: 100%;
    }
  }
}

.is-mobile {
  .round-title {
    .item-name {
      font-size: 16px !important;
    }
  }
}
