.round-number {
  border: solid 1px rgba(#fff, 0.2);
  box-sizing: border-box;
  line-height: normal;
  strong,
  span {
    display: block;
    color: #fff;
    text-align: center;
  }
  span {
    font-size: 10px;
  }
  strong {
    font-size: 22px;
    line-height: 1;
    letter-spacing: -0.44px;
  }
}

.is-desktop {
  .round-number {
    min-width: 48px;
    min-height: 48px;
    padding-top: 5px;

    strong,
    span {
      padding-top: 2px;
      font-weight: 700;
    }

    span {
      font-size: 8px;
    }
  }
}

.is-mobile {
  .round-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    strong {
      margin-top: 2px;
    }
  }
}
