.is-desktop {
  --header-height: 72px;
  --header-btn-width: 44px;
  --header-btn-height: 48px;
  --gnb-bgcolor: #000;
  --gnb-item-width: 120px;
}

.is-mobile {
  --header-height: 64px;
  --header-bgcolor: #000;
  --gnb-horizontal-padding: 32px;
}
