@import './header-custom-props';

.select-language {
  display: flex;

  .select-language__list {
    .v-list-item {
      position: relative;
      height: 62px;
      font-size: 16px;
      color: var(--content-color) !important;
      justify-content: center;

      &::before,
      &::after {
        content: none !important;
      }
      &.v-item--active {
        color: rgba(#fff, 1) !important;
        font-weight: 700;
      }
    }
  }
  .btn-gnb-language {
    position: fixed;
    top: 8px;
    left: 8px;
  }
}

.is-desktop {
  .select-language {
    display: block;
    border-radius: 0;
    width: 140px;
    background-color: #222;

    .select-language__list {
      background-color: transparent !important;

      .v-list-item {
        height: 48px;
        line-height: 1.75;
        color: #ffffff80 !important;
        transition: background-color 400ms ease;

        &:hover {
          color: rgba(#fff, 1) !important;
          background-color: rgba(#fff, .1);
        }
        &.v-item--active {
          color: rgba(#fff, 1) !important;
          font-weight: 700;
        }
      }
    }
  }
}

.is-mobile {
  .select-language {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .select-language__list {
      margin-top: 56px;

      .wrap-item {
        margin-top: 2px;
      }
      .v-list-item {
        &.v-item--active {
          color: rgba(#fff, 1) !important;
          font-weight: 700;
        }
      }
    }
  }
}
