.hidden {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  z-index: -1;
  top: -1px;
  width: 1px;
  height: 1px;
  font-size: 0;
}

[class^="ico-"] {
  display: inline-block;
  vertical-align: middle;

  &.ico-ss {
    width: 16px;
    height: 16px;
    margin: 0 4px;
    &::before {
      width: 16px;
      height: 16px;
    }
    &.add-inside {
      padding-left: 18px;
    }
  }

  &.ico-xs {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    &::before {
      width: 20px;
      height: 20px;
    }
    &.add-inside {
      padding-left: 22px;
    }
  }

  &.ico-xs {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    &::before {
      width: 20px;
      height: 20px;
    }
    &.add-inside {
      padding-left: 22px;
    }
  }

  &.ico-sm {
    width: 32px;
    height: 32px;
    margin: 0 4px;
    &::before {
      width: 32px;
      height: 32px;
    }
    &.add-inside {
      padding-left: 36px;
    }
  }
  &.add-inside {
    position: relative;
    width: inherit;
    height: inherit;
    background: none;
    margin: 0;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

.loading-circle {
  background-color: white;
  circle {
    animation: animCircle 0.75s linear infinite;
    transform-origin: 32px 32px;
  }
}

.ico-vigor {
  background: url("~@/assets/img/mobile/popup/ico-vigor.webp") 0 0 / cover no-repeat;

  &.add-inside {
    &::before {
      background: url("~@/assets/img/mobile/popup/ico-vigor.webp") 0 0 / cover no-repeat;
    }
  }
}

.ico-hydra {
  background: url("~@/assets/img/mobile/popup/ico-hydra.webp") 0 0 / cover no-repeat;

  &.add-inside {
    &:before {
      background: url("~@/assets/img/mobile/popup/ico-hydra.webp") 0 0 / cover no-repeat;
    }
  }
}

.ico-hydra2 {
  background: url("~@/assets/img/mobile/popup/ico-hydra-96.webp") 0 0 / cover no-repeat;

  &.add-inside {
    &:before {
      background: url("~@/assets/img/mobile/popup/ico-hydra-96.webp") 0 0 /
      cover no-repeat;
    }
  }
}

.ico-darco {
  background: url("~@/assets/img/mobile/popup/ico-draco.webp") 0 0 / cover no-repeat;

  &.add-inside {
    &:before {
      background: url("~@/assets/img/mobile/popup/ico-draco.webp") 0 0 / cover no-repeat;
    }
  }
}

.ico-wemixcredit {
  background: url("~@/assets/img/mobile/popup/ico-wemix-credit-logo.webp") 0 0 /
  cover no-repeat;

  &.add-inside {
    &:before {
      background: url("~@/assets/img/mobile/popup/ico-wemix-credit-logo.webp") 0 0 / cover no-repeat;
    }
  }
}

.ico-wemix {
  background: url("~@/assets/img/mobile/popup/ico-wemix-logo.webp") 0 0 / cover no-repeat;

  &.add-inside {
    &:before {
      background: url("~@/assets/img/mobile/popup/ico-wemix-logo.webp") 0 0 /
      cover no-repeat;
    }
  }
}

.ico-wemixbox {
  background: url("~@/assets/img/mobile/promotion/2111/logo-wemixbox.webp") 50% 50% / cover no-repeat;
}

.ico-mir4box {
  background: url("~@/assets/img/mobile/promotion/2111/logo-mir4box.webp") 50% 50% / cover no-repeat;
}

.wrap-dropdown {
  display: flex;
  margin-top: 24px;
  .btn-dropdown {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: solid 1px rgba(#fff, 0.15);
    padding: 12px 16px;
    height: 40px;

    background-color: rgba(#fff, 0.05);
    box-sizing: border-box;
    &::after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: url("~@/assets/img/desktop/icon-arrow-down.webp") 0 0 / cover no-repeat;
    }
  }
  .message {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }
}

.title-page {
  margin-bottom: 26px;
  line-height: 1.24;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.us-dollar {
  &::before {
    content: "$";
    margin-right: 1px;
  }
  font-weight: 400;
  align-items: baseline;
}

.is-desktop {
  [class^="ico-"] {
    &.ico-nano {
      width: 16px;
      height: 16px;
      margin: 0 2px;

      &::before {
        width: 16px;
        height: 16px;
      }

      &.add-inside {
        padding-left: 20px;
      }
    }

    &.ico-xs {
      &.add-inside {
        padding-left: 24px;
      }
    }

    &.ico-ss {
      width: 24px;
      height: 24px;
      margin: 0 2px;

      &::before {
        width: 24px;
        height: 24px;
      }

      &.add-inside {
        padding-left: 28px;
      }
    }

    .ico-vigor {
      background: url("~@/assets/img/desktop/popup/ico-vigor.webp") 0 0 / cover no-repeat;

      &.add-inside {
        &::before {
          background: url("~@/assets/img/desktop/popup/ico-vigor.webp") 0 0 / cover no-repeat;
        }
      }
    }

    .ico-hydra {
      background: url("~@/assets/img/desktop/popup/ico-hydra.webp") 0 0 / cover no-repeat;

      &.add-inside {
        &::before {
          background: url("~@/assets/img/common/ico-hydra.webp") 0 0 / cover no-repeat;
        }
      }
    }

    .ico-hydra2 {
      background: url("~@/assets/img/desktop/popup/ico-hydra-96.webp") 0 0 / cover no-repeat;

      &.add-inside {
        &::before {
          background: url("~@/assets/img/desktop/popup/ico-hydra-96.webp") 0 0 /
      cover no-repeat;
        }
      }
    }

    .ico-darco {
      background: url("~@/assets/img/desktop/popup/ico-draco.webp") 0 0 / cover no-repeat;

      &.add-inside {
        &::before {
          background: url("~@/assets/img/desktop/popup/ico-draco.webp") 0 0 / cover no-repeat;
        }
      }
    }

    .ico-wemixcredit {
      background: url("~@/assets/img/desktop/popup/ico-wemix-credit-logo.webp") 0 0 / cover no-repeat;

      &.add-inside {
        &::before {
          background: url("~@/assets/img/desktop/popup/ico-wemix-credit-logo.webp") 0 0 / cover no-repeat;
        }
      }
    }

    .ico-wemix {
      background: url("~@/assets/img/desktop/popup/ico-wemix-logo.webp") 0 0 / cover no-repeat;

      &.add-inside {
        &::before {
          background: url("~@/assets/img/desktop/popup/ico-wemix-logo.webp") 0 0 / cover no-repeat;
        }
      }
    }

    .ico-wemixbox {
      background: url("~@/assets/img/desktop/promotion/2111/logo-wemixbox.webp") 50% 50% / 100% auto no-repeat;
    }
    .ico-mir4box {
      background: url("~@/assets/img/desktop/promotion/2111/logo-mir4box.webp") 50% 50% / 100% auto no-repeat;
    }
  }

  .wrap-dropdown {
    .btn-dropdown {
      flex-grow: 0;
      justify-content: center;
      gap: 8px;
    }
  }

  .title-page {
    margin-bottom: 48px;
    line-height: 1.18;
    font-size: 32px;
  }

  .wrap-thumb-profile {
    overflow: hidden;
    display: inline-block;
    width: 120px;
    height: 120px;
    vertical-align: top;
    .base-profile {
      display: block;
      height: 100%;
      background: url("~@/assets/img/common/login-profile/profile-mir4.webp") 0 0 /
    cover no-repeat;
    }
    &.by-wemix {
      .base-profile {
        background-image: url("~@/assets/img/common/login-profile/bg-wemix-profile.webp");
      }
    }
    > img {
      + .base-profile {
        display: none;
      }
    }
  }

  .wrap-signin {
    text-align: center;
    .desc {
      display: inline-block;
      margin-top: 16px;
      width: 148px;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: -0.14px;
      color: rgba(#fff, 0.75);
    }
    .wrap-button {
      margin-top: 16px;
      .btn-max {
        min-width: 100%;
        justify-content: center;
        &:disabled,
        &[aria-disabled="true"] {
          background-color: rgba(#fff, 0.05);
        }
      }
      & + .info-char {
        margin-top: 16px;
      }
    }
  }

  .us-dollar {
    display: flex;
  }
}





.is-mobile {
  .section {
    margin: 80px var(--intro-draco-padding) 0;
    width: calc(100% - (var(--intro-draco-padding) * 2));

    &:first-of-type {
      margin-top: 0;
    }
    > .title {
      margin-bottom: 40px;
      line-height: 1.25;
      color: #fff;
      font-weight: 700;
      font-size: 32px !important;
    }
  }

  .no-gutter {
    position: relative;
    left: calc(-1 * var(--intro-draco-padding)) !important;
    width: calc(100% + (var(--intro-draco-padding) * 2)) !important;
    &__inner {
      width: calc(100% - (var(--intro-draco-padding) * 2));
      max-width: var(--intro-draco-maxwidth);
    }
  }

  @media screen and (min-width: 480px) {
    .no-gutter {
      left: 0 !important;
      width: 100% !important;
    }
  }

  .wrap-dropdown {
    .btn-dropdown {
      flex: 1;
      justify-content: space-between;
      width: 25%;
      color: #fff;
      font-size: 14px;
    }
  }
}
