:root {
  --header-height: 64px;
  --bg-container: #020219;
  --section-inner-maxwidth: 640px;
  --section-inner-padding: 32px;
  --intro-draco-padding: clamp(24px, 8vw, 36px);
  --content-color: #ffffff80;
}
