html {
  background-color: var(--bg-container);
}
.v-application {
  a {
    color: inherit;
    text-decoration: none;
  }
  button {
    border-radius: 0;
  }
  em {
    font-style: normal;
  }
  img {
    vertical-align: top;
  }
}
