.float-bottom {
  &.mirage-bottom {
    line-height: normal;
    background-color: #003;

    .float-bottom-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: var(--section-inner-width);
      min-height: 96px;
      padding: 24px 0;
    }

    .list-resources {
      display: flex;
      column-gap: 80px;
      padding-left: 0;
      list-style: none;

      > li {
        display: flex;
        row-gap: 8px;
        flex-direction: column;
      }

      .title-resource {
        font-size: 12px;
        color: rgba(#fff, 0.5);
      }

      .value {
        font-size: 16px;
        color: #fff;
        font-weight: bold;

        > img {
          margin-right: 4px;
        }

        .decimal {
          font-size: 12px;
        }
      }
    }

    .wrap-buy {
      display: flex;
      align-items: center;
      column-gap: 8px;
      justify-content: center;
      text-align: center;

      .btn {
        flex-direction: row;
        width: 220px;
        margin-left: 0;
        box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.25);
        border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(to bottom, #fff 0%, #ffd980 100%);
        border-image-slice: 1;
        background-image: linear-gradient(131deg, #ffb800 -42%, #e80 -9%, #ffd84d 30%, #e80 67%, #ffb800 100%);
        font-size: 16px;
        color: #000;
      }
    }

    .is-mobile & {
      .float-bottom-inner {
        flex-direction: column;
        row-gap: 8px;
        width: auto;
        max-width: var(--intro-draco-maxwidth);
        min-height: 80px;
        padding: 16px;
      }
      .list-resources {
        column-gap: 8px;
        width: 100%;

        > li {
          flex: 1;
          text-align: center;
          row-gap: 5px;
        }
        .value {
          font-weight: normal;
          line-height: 1.13;

          > img {
            margin-top: 1px;
          }
        }
      }
      .wrap-buy {
        width: 100%;

        .btn {
          width: auto;
          height: 48px;
          flex: 1;
          line-height: 1.25;
        }
      }
    }
  }
}
