.mirage-notice-inlist {
  margin: 16px 0;
  padding: 10px;
  line-height: 20px;
  text-align: center;
  background-color: #000;

  .message {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #f00;
    vertical-align: top;
    text-align: left;

    &::before {
      content: '';
      min-width: 16px;
      width: 16px;
      height: 16px;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAhUExURUdwTP////////////////////////////////////8AADEi3AQAAAAJdFJOUwDaIBCgkO9gMAQveNYAAACjSURBVCjPY2AAAXPHzGkixQxwoJo5EwScYHzTmVAQDOEzScIEJiqABRpnwoEEqgKoEkMwc9UqMCUMFIhEFpgK1DETWWCmAgMLqkAAgyWqQDJDJarAdAZPVIEpDJKoAhMZMlEFpjHMRBWYiSmAoQXJaxBDPVEFpsAcBgPTGcxQBSYzsKIa6oDpfYwAwgxCjEDGiAbMiMKISgYGFYi/ghDRj5QcAPBw7zMOmK1OAAAAAElFTkSuQmCC');
      background-size: cover;
    }
  }

  .is-mobile & {
    margin-bottom: 24px;
  }
}