.contents.mirage {
  background-color: #030227;

  .section-title {
    margin-bottom: 16px;
    line-height: 1.15;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }
  .section-title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .section-title {
      margin: 0;
      padding: 16px 0;
      line-height: normal;
    }

    .is-mobile & {
      margin-bottom: 0;
      padding: 0 16px;
    }
  }
  .util-dashboard-list {
    display: flex;
    gap: 1px;
    flex-flow: row wrap;
    margin-bottom: 24px;
    color: #fff;

    .util-dashboard-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      padding: 12px 16px;
      background-color: #ffffff1a;
    }
    .dashboard-item {
      display: flex;
      align-items: center;
      column-gap: 4px;
      line-height: 1.5;
    }
  }
  .mirage-inventory-roster {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    column-gap: 24px;
    color: #fff;

    .roster-item {
      display: flex;
      align-items: center;
      column-gap: 4px;
    }

    .roster-title {
      margin-right: 4px;
      font-size: 12px;
      line-height: 1.67;
    }
    .volume {
      font-size: 16px;
      line-height: 1.5;

      .max-volume {
        color: var(--content-color);
      }
    }

    .link-roster {
      display: flex;
      align-items: center;
      column-gap: 4px;
      font-size: 14px;
      line-height: 1.43;

      &::after {
        content: '';
        width: 9px;
        height: 9px;
        margin-right: 8px;
        border-right: 1px solid;
        border-bottom: 1px solid;
        transform: rotate(-45deg);
      }

      .is-mobile & {
        &::after {
          margin-right: 0;
        }
      }
    }

    .is-mobile & {
      column-gap: 12px;
    }
  }
  .util-list {
    .mirage-inventory {
      &.mobile {
        width: 100%;
        padding: 0 16px;

        &::after {
          display: none !important;
        }
      }
    }
  }
  .mirage-inventory {
    --inventory-height: 24px;

    display: flex;
    height: var(--inventory-height);
    column-gap: 24px;

    .mirage-inventory-item {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }

    .currency {
      display: flex;
      align-items: center;
      column-gap: 4px;
      margin-left: 16px;
      font-size: 16px;
      color: #fff;

      button[class*=btn-] {
        margin-left: 4px;
      }

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
  .btn-charge {
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
    min-width: 40px;
    height: 24px;
    color: #000;
    font-size: 12px;
    background-color: #ffec44;
  }
  .btn-enhance {
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
    min-width: 40px;
    height: 24px;
    color: #fff;
    font-size: 12px;
    background-color: #ffffff33;
  }
  .char-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    max-width: 896px;

    li {
      margin-left: -1px;

      &[aria-disabled='true'] {
        position: relative;

        .mirage-character,
        .wrap-button {
          opacity: 0.5;
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
        }
      }
    }
  }

  hr {
    display: block;
    margin: 24px 0;
    border-width: 0;
    height: 1px;
    background-color: rgba(#fff, .1);
  }

  .is-mobile & {
    .char-list {
      overflow-x: hidden;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 20px;
      width: auto;

      li {
        margin-left: 0;
      }
    }
    .util-list {
      .mirage-inventory {
        position: relative;
        width: 100%;
        justify-content: flex-end;

        &::after {
          content: '';
          position: absolute;
          left: -15px;
          right: -15px;
          bottom: 0;
          height: 1px;
          opacity: 0.5;
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
    .mirage-inventory {
      --inventory-height: 48px;
    }
    .section-wrapper {
      margin: 0 auto;
      max-width: 720px;
    }
  }

  .mirage-tooltip {
    padding: 15px !important;
    font-size: 12px !important;
    border: 1px solid rgba(#fff, 0.1);
    box-shadow: 0 24px 24px 0 rgba(#000, 0.25);
    word-break: keep-all;
    backdrop-filter: blur(8px);
    border: solid 1px rgba(255, 255, 255, 0.1) !important;
    background-color: rgba(0, 0, 51, 0.75) !important;
    border-radius: 0 !important;
    opacity: 1 !important;
    line-height: 1.5 !important;
    font-weight: 400;

    p {
      position: relative;
      padding-left: 10px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #fff;
      }
    }

    .mirage-tooltip-title {
      margin-bottom: 10px;
      font-size: 14px;
      color: #fff;
      font-weight: 600;
    }
    .mirage-tooltip-desc {
      color: rgba(255, 255, 255, 0.75);
      font-size: 12px;
      line-height: 1.5;
      font-weight: 400;
    }
  }
  .icon-mirage-tooltip {
    position: relative;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    background: url('~@/assets/img/common/mirage/ico-16-tooltip.webp') 0 0 / cover no-repeat;
    font-size: 0;
    cursor: pointer;
  }
}
