.mirage-battle-report {
  --color-primary: #fff;
  --color-major: #f00;
  --color-medium: #f90;
  --color-minor: #ffed00;
  --color-recovery: #9f9;
  --color-gain: #90f;
  --color-opacity: #fff9;

  .list-report {
    padding-left: 0;
    list-style-type: none;
    color: var(--color-opacity);
    font-size: 14px;
    line-height: 1.43;

    > li {
      display: flex;
      align-items: center;
      position: relative;
      padding: 12px 0 12px 24px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 2px;
        width: 2px;
        height: calc(50% - 7px);
        background-color: rgb(255 255 255 / 20%);
      }

      &::after {
        content: '';
        position: absolute;
        top: calc(50% + 7px);
        left: 2px;
        width: 2px;
        height: calc(50% - 7px);
        background-color: rgb(255 255 255 / 20%);
      }

      &:first-child {
        &::before {
          display: none;
        }
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      &[data-report-type="gain"],
      &[data-report-type="30201"],
      &[data-report-type="30202"],
      &[data-report-type="30203"]{
        .report-desc {
          &::before {
            background-color: var(--color-gain);
          }
        }
      }

      &[data-report-type="battle"],
      &[data-report-type="kick"],
      &[data-report-type="damage"],
      &[data-report-type="30102"],
      &[data-report-type="30102kick"],
      &[data-report-type="30101kick"],{
        .report-desc {
          &::before {
            background-color: var(--color-major);
          }
        }
      }

      &[data-report-type="recovery"] {
        .report-desc {
          &::before {
            background-color: var(--color-recovery);
          }
        }
      }

      &[data-report-type="join"],
      &[data-report-type="left"],
      &[data-report-type="newSeason"],
      &[data-report-type="increase"],
      &[data-report-type="30101"]{
        .report-desc {
          &::before {
            background-color: var(--color-primary);
          }
        }
      }
    }

    .icon-report {
      margin-right: 16px;
      width: 40px;
      max-width: 100%;
      height: 40px;
    }

    .report-desc {
      flex: 1;
      padding-right: 4px;

      em {
        color: #fff;
      }

      &::before {
        content: '';
        position: absolute;
        top: calc(50% - 3px);
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: rgb(255 255 255 / 50%);
      }
    }

    .report-time-stamp {
      width: 200px;
      text-align: right;
      font-size: 12px;
      line-height: 1.5;
    }

    .report-info {
      display: flex;
      align-items: center;
      column-gap: 17px;
      margin-bottom: 2px;
      line-height: 1.67;
      font-size: 12px;

      .mode-name {
        color: #f40;
      }

      .server-name {
        position: relative;
        color: rgb(255 255 255 / 60%);

        &::before {
          content: '';
          position: absolute;
          top: calc(50% - 7px);
          left: -9px;
          width: 1px;
          height: 14px;
          background-color: rgba(#c4c4c4, 0.3);
        }
      }
    }
  }

  .color-primary {
    color: var(--color-primary) !important;
  }

  .color-major {
    color: var(--color-major) !important;
  }

  .color-medium {
    color: var(--color-medium) !important;
  }

  .color-minor {
    color: var(--color-minor) !important;
  }

  .color-recovery {
    color: var(--color-recovery) !important;
  }

  .wrap-button {
    margin-top: 16px;

    .btn-viewmore {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 56px;
      padding: 20px;
      font-size: 14px;
      color: var(--color-opacity);
      background-color: rgb(255 255 255 / 5%);
      line-height: normal;
    }
  }

  &.rolling {
    .list-report {
      height: 56px;

      .list-report-item {
        display: flex;
        position: relative;
        align-items: center;
        padding: 8px 0;
        box-sizing: border-box;
      }

      .report-desc {
        overflow: hidden;
        display: flex;
        text-overflow: ellipsis;
        max-height: 40px;
        line-height: 20px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        &::before {
          display: none;
        }
      }
    }
  }

  .boss-raid-detail & {
    margin-top: -16px;
  }

  .is-mobile & {
    padding: 0 16px;

    .list-report {
      > li {
        flex-direction: column;
        padding-left: 64px;
        align-items: flex-start;

        &::before {
          left: 3px;
          height: calc(50% - 8px);
        }

        &::after {
          top: calc(50% + 8px);
          left: 3px;
          height: calc(50% - 8px);
        }
      }

      .icon-report {
        position: absolute;
        top: calc(50% - 20px);
        left: 16px;
      }

      .report-desc {
        padding-right: 0;

        &::before {
          top: calc(50% - 4px);
          width: 8px;
          height: 8px;
        }
      }

      .report-time-stamp {
        width: 100%;
        text-align: left;
        margin-top: 4px;
        line-height: normal;
        color: rgb(255 255 255 / 40%);
      }
    }

    &.rolling {
      .list-report {
        height: 74px;

        .list-report-item {
          flex-direction: column;
          padding-left: 48px;
        }

        .icon-report {
          left: 0;
        }
      }
    }
  }

  .caution-update {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    padding: 18px 30px;
    background-image: linear-gradient(to right, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 15%) 49%, rgb(255 255 255 / 0%) 100%);
    text-align: center;

    .caution-txt {
      margin-right: 4px;
      font-size: 14px;
      line-height: 1.43;
      color: #fff;
    }
  }
}
