.mirage-boss-raid-result {
  margin: 32px 0;

  .caution-update {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    padding: 18px 30px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 49%, rgba(255, 255, 255, 0) 100%);
    text-align: center;

    .caution-txt {
      margin-right: 4px;
      font-size: 14px;
      line-height: 1.43;
      color: #fff;
    }
  }
  .section-title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
    margin-bottom: 16px;

    .section-title {
      .contents.mirage & {
        margin-bottom: 0;
      }
    }
    .result-msg {
      display: flex;
      align-items: center;

      .txt-msg {
        font-size: 14px;
        line-height: 1.43;
      }
      .icon-mirage-tooltip {
        flex-shrink: 0;
        margin-left: 8px;
      }
    }
  }

  .is-mobile & {
    margin: 24px 0;

    .section-title-bar {
      margin-bottom: 0;
      padding: 0 16px;
    }
  }
}
