.mirage-round-raid-info {
  display: flex;
  align-items: center;
  column-gap: 16px;
  line-height: 1.5;

  .raid-round {
    position: relative;
    padding-left: 34px;
    color: #fff;
    font-weight: 600;

    &::before {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 26px;
      height: 24px;
      background: url('~@/assets/img/common/mirage/ico-27-battle.webp') 0 0 / 100% auto no-repeat;
    }
  }
  .boss-name {
    position: relative;
    flex: 1;
    font-weight: 600;
    color: #fff;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -9px;
      bottom: 0;
      width: 1px;
      background-color: #ffffff33;
    }
  }
  .raid-date {
    font-size: 14px;
  }

  .is-mobile & {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 4px;
    line-height: normal;

    .raid-round {
      padding-left: 20px;
      font-size: 14px;
      font-weight: 400;

      &::before {
        width: 18px;
        height: 16px;
        background: url('~@/assets/img/common/mirage/ico-18-battle.webp') 0 0 / 100% auto no-repeat;
      }
    }

    .boss-name {
      font-size: 14px;

      &::before {
        display: none;
      }
    }
  }
}
