@import './header-custom-props';

.gnb {
  .is-desktop & {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    position: relative;
    height: var(--header-height);
    color: #fff;
    background-color: var(--header-bgcolor);
    transition: height 400ms ease;

    a {
      color: inherit;
      text-decoration: none;
    }
    &__bi {
      visibility: visible;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      min-width: var(--gnb-item-width);
      font-size: 0;
      transition: min-width 400ms ease;

      .link {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        &::before {
          display: block;
          content: '';
          width: 80px;
          height: 19px;
          background: url("~@/assets/img/desktop/header-v2/bi-xdraco.webp") 0 0 / contain no-repeat;
          transition: transform 400ms ease;
        }
      }
    }
    &__left {
      display: flex;
      align-items: center;
      height: 100%;
    }
    &__right {
      display: flex;
      align-items: center;
      ap: 4px;
      margin-right: 8px;
      height: 100%;
    }

    &__list {
      visibility: visible;
      padding: 0;
      height: 100%;
      line-height: 1.33;
      font-weight: 700;
      background-color: transparent;

      .wrap-item {
        margin-left: 10px;
      }
      .v-list-item-group {
        display: flex;
        height: 100%;
      }
      .v-list-item {
        flex: auto;
        justify-content: center;
        position: relative;
        margin-left: 2px;
        padding: 0 16px;
        min-height: auto;
        line-height: 1.33;
        font-family: Roboto;
        font-size: 18px;
        color: #fff !important;
        text-decoration: none;
        white-space: nowrap;
        background-color: #000;
        transition: min-width 400ms ease, background-color 300ms ease;

        &::before {
          top: auto;
          right: auto;
          width: 100%;
          height: 2px;
          background-color: rgba(#fff, 0);
          opacity: 1;
        }
        &::after {
          content: none !important;
        }
        .text {
          font-size: 0;
          background-size: auto 100%;
          background-repeat: no-repeat;
          background-position: 50% 0;
          transition: transform 400ms ease;

          &.exd {
            width: 49px;
            height: 20px;
            background-image: url("~@/assets/img/desktop/header-v2/nav-exd.svg");
          }
          &.collectible {
            width: 107px;
            height: 20px;
            background-image: url("~@/assets/img/desktop/header-v2/nav-collectibles.svg");
          }
          &.nft {
            width: 47px;
            height: 20px;
            background-image: url("~@/assets/img/desktop/header-v2/nav-nft.svg");
          }
          &.draco {
            width: 96px;
            height: 26px;
            background-image: url("~@/assets/img/desktop/header-v1/nav-draco.svg");
          }
          &.hsp {
            width: 58px;
            height: 22px;
            background-image: url("~@/assets/img/desktop/header-v1/nav-hsp.svg");
          }
          &.dsp {
            width: 50px;
            height: 20px;
            background-image: url("~@/assets/img/desktop/header-v2/nav-dsp.svg");
          }
          &.mirage {
            width: 78px;
            height: 22px;
            background-image: url("~@/assets/img/desktop/header-v2/nav-mirage.svg");
          }
          &.coin {
            width: 65px;
            height: 20px;
            background-image: url("~@/assets/img/desktop/header-v2/nav-coin.svg");
          }
        }
        &[target=_blank] {
          &::after {
            content: '' !important;
            margin-left: 10px;
            width: 14px;
            height: 12px;
            min-height: auto;
            background: url("~@/assets/img/desktop/header-v1/icon-external.webp") 0 0 / auto 100% no-repeat;

            .init-app & {
              transition: all 400ms ease;
            }
          }
        }
        &:first-of-type {
          margin-left: 0;
        }
        &:hover {
          background-color: #1d1d3c;

           &::before {
             background-color: transparent;
           }
        }
        &.v-item--active {
          &:not([target=_blank]) {
            background-color: #1d1d3c;

            &::before {
              background-color: #fff;
            }
          }
          .text {
            &::after {
              width: 100%;
            }
          }
        }
        &.v-item--new {
          .text {
            position: relative;

            &::after {
              content: '';
              position: absolute;
              top: -5px;
              right: -9px;
              border-radius: 50%;
              width: 8px;
              height: 8px;
              background-color: #ff0000;
            }
          }
        }
      }
    }
  }
}
