.contents {
  &[class*="market"] {
    background-position: 50% 0;
    background-size: 800px 504px;
    background-repeat: no-repeat;

    &.bg-legendary,
    &.bg-grade-5 {
      background-image: url('~@/assets/img/mobile/market/bg-item-legendary.webp');
    }

    &.bg-epic,
    &.bg-grade-4 {
      background-image: url('~@/assets/img/mobile/market/bg-item-epic.webp');
    }

    &.bg-rare,
    &.bg-grade-3 {
      background-image: url('~@/assets/img/mobile/market/bg-item-rare.webp');
    }

    &.bg-grade-2 {
      background-image: url('~@/assets/img/mobile/market/bg-item-grade2.webp');
    }
  }

  .function {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .backtolist {
      position: relative;
      display: inline-block;
      font-size: 16px;
      font-weight: normal;
      line-height: normal;
      color: #fff;
      padding-left: 24px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 16px;
        height: 16px;
        margin-top: -1px;
        background: url('~@/assets/img/desktop/market/ico-arrow-left-light.webp') 50% 0 / cover no-repeat;
      }

      &::after {
        content: '';
        position: absolute;
        left: -8px;
        right: -8px;
        top: -8px;
        bottom: -8px;
      }
    }
  }

  .function + .wrap-grid {
    padding-top: 0;
  }
}

.exchange-market {
  width: 100%;
  margin: 0 auto;
  color: #fff;

  &.add-float {
    padding-bottom: 0;
  }

  .title {
    font-size: 16px !important;
    font-weight: 700;
    line-height: normal;
    color: #fff;
  }

  .list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid rgba(#fff, 0.15);

    li {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }


  .wrap-addition {
    .wrap-character-equip {
      position: relative;
      width: 328px;
      height: 364px;

      .thumbs-character-equip {
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 1;
      }
    }

    .list-character-equip {
      --equip-size: 56px;
      --item-slot-default-size: 48px;

      position: relative;
      z-index: 2;
      padding: 0;
      width: 100%;
      height: 100%;
      background: url('~@/assets/img/common/nft-detail/bg-character-equip.webp') 24px 28px / auto 280px no-repeat;

      &__item {
        list-style: none;
        position: absolute;
        left: 0;
        z-index: 2;
        width: var(--equip-size);
        height: var(--equip-size);

        .front {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: inherit;
          height: inherit;
          background: url('~@/assets/img/common/nft-detail/sp-item-frame.webp') 0 0 / var(--equip-size) auto no-repeat;

          .item-slot-default {
            top: calc(50% - (var(--item-slot-default-size) / 2));
            left: calc(50% - (var(--item-slot-default-size) / 2));
            width: var(--item-slot-default-size);
            height: var(--item-slot-default-size);
            background: url('~@/assets/img/common/nft-detail/item-slot-default.png') 0 0 / 100% auto no-repeat;
          }

          .item-image {
            & + .item-slot-default {
              visibility: hidden;
            }
          }
        }

        .item-tier {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: -3px;
          left: -3px;
          border: 2px solid #9f916c;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          color: #fff;
          line-height: 1;
          font-size: 13px;
          font-weight: 700;
          letter-spacing: -0.13px;
          background-color: #333;
          box-sizing: border-box;
        }

        .item-enchance {
          position: absolute;
          top: 0;
          right: 0;
          line-height: 1;
          font-weight: 700;
          font-size: 14px;
          letter-spacing: -0.01em;
          text-shadow: 0 1.1px 1.1px #000;
        }

        &[data-item-grade='uncommon'], &[data-item-grade='grade-2'] {
          .front {
            background-position-y: calc(-1 * var(--equip-size));
          }
        }

        &[data-item-grade='rare'], &[data-item-grade='grade-3'] {
          .front {
            background-position-y: calc(-2 * var(--equip-size));
          }
        }

        &[data-item-grade='epic'], &[data-item-grade='grade-4'] {
          .front {
            background-position-y: calc(-3 * var(--equip-size));
          }
        }

        &[data-item-grade='legendary'], &[data-item-grade='grade-5'] {
          .front {
            background-position-y: calc(-4 * var(--equip-size));
          }
        }

        &[data-item-type='weapon'], &[data-item-type='slot-1'] {
          top: 8px;
          left: 82px;

          .front {
            .item-slot-default {
              background-position-y: 0;
            }
          }
        }

        &[data-item-type='subWeapon'], &[data-item-type='slot-9'] {
          top: 52px;
          left: 25px;

          .front {
            .item-slot-default {
              background-position-y: calc(-1 * var(--item-slot-default-size));
            }
          }
        }

        &[data-item-type='top'], &[data-item-type='slot-5'] {
          top: 118px;
          left: 2px;

          .front {
            .item-slot-default {
              background-position-y: calc(-2 * var(--item-slot-default-size));
            }
          }
        }

        &[data-item-type='bottom'], &[data-item-type='slot-6'] {
          top: 186px;
          left: 8px;

          .front {
            .item-slot-default {
              background-position-y: calc(-3 * var(--item-slot-default-size));
            }
          }
        }

        &[data-item-type='gloves'], &[data-item-type='slot-7'] {
          top: 246px;
          left: 38px;

          .front {
            .item-slot-default {
              background-position-y: calc(-4 * var(--item-slot-default-size));
            }
          }
        }

        &[data-item-type='boots'], &[data-item-type='slot-8'] {
          bottom: 2px;
          left: 100px;

          .front {
            .item-slot-default {
              background-position-y: calc(-5 * var(--item-slot-default-size));
            }
          }
        }

        &[data-item-type='neaklace'], &[data-item-type='slot-2'] {
          bottom: 6px;
          left: 168px;

          .front {
            .item-slot-default {
              background-position-y: calc(-6 * var(--item-slot-default-size));
            }
          }
        }

        &[data-item-type='bracelet'], &[data-item-type='slot-3'] {
          top: 232px;
          left: 232px;

          .front {
            .item-slot-default {
              background-position-y: calc(-7 * var(--item-slot-default-size));
            }
          }
        }

        &[data-item-type='ring'], &[data-item-type='slot-4'] {
          top: 166px;
          left: 272px;

          .front {
            .item-slot-default {
              background-position-y: calc(-8 * var(--item-slot-default-size));
            }
          }
        }

        &[data-item-type='earring'], &[data-item-type='slot-10'] {
          top: 102px;
          left: 266px;

          .front {
            .item-slot-default {
              background-position-y: calc(-9 * var(--item-slot-default-size));
            }
          }
        }
      }
    }

    .option-detail {
      .wrap-option {
        position: relative;
        margin-top: 48px;
      }

      .list {
        margin-top: 24px;

        li {
          min-height: 48px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          letter-spacing: -0.01em;
          color: #fff;

          span[class^='ico-'] {
            width: 32px;
            height: 32px;
            margin-right: 8px;
          }

          .skill-desc {
            flex: 1;
            text-align: left;
            font-size: 14px;
            font-weight: normal;
            color: rgba(#fff, 0.75);
          }

          .rate {
            font-size: 16px;
            font-weight: 700;
          }

          .value {
            font-size: 14px;
            font-weight: 400;
          }

          a[target='_blank'] {
            display: flex;
            align-items: center;
            gap: 4px;

            &::after {
              content: '';
              display: block;
              width: 24px;
              height: 24px;
              background: url('~@/assets/img/common/nft-detail/ico-outlink.webp') 50% 50% / contain no-repeat;
            }
          }

          &:first-of-type {
            border-top-width: 0;
          }
        }
      }

      .totalscore {
        position: absolute;
        top: -6px;
        right: 0;

        .ico-total {
          font-size: 24px;
          font-weight: 700;
          letter-spacing: -0.48px;
          line-height: normal;
          color: #fff;
          padding-left: 28px;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            display: inline-block;
            width: 24px;
            height: 24px;
            vertical-align: middle;
          }
        }
      }

      .wrap-item-desc {
        margin-bottom: 48px;

        .wrap-form {
          .title {
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: normal;
            color: #fff;
          }

          .title + .fieldset {
            margin-top: 16px;
          }
        }

        .wrap-form + .wrap-button {
          margin-top: 16px;
        }

        .wrap-button {
          margin: 32px 0 16px;

          .btn {
            width: 100%;
          }

          .price {
            display: inline-block;

            .ico-draco {
              font-size: 24px;
              font-weight: 700;
              letter-spacing: -0.48px;
              color: #fff;
            }

            .rate {
              display: block;
              text-align: center;
              font-size: 12px;
              font-weight: normal;
              line-height: 1;
              margin-top: 4px;
            }
          }

          &.price-button {
            margin-top: 28px;

            .btn {
              height: 66px;
            }
          }
        }
      }

      .wrap-collectible-info {
        margin: 24px 0;
        line-height: 1.2;
        color: #000;

        .wrap-info {
          display: flex;
          flex-wrap: wrap;

          .define {
            display: flex;
            flex-direction: column;
            gap: 4px;
            border: 1px solid #000;
            border-width: 0 0 1px 1px;
            padding: 11px 16px;
            width: 50%;
            min-height: 61px;
            font-size: 12px;
            box-sizing: border-box;

            dt {
              display: block;
              width: 100%;
              font-size: 12px;
            }

            dd {
              font-size: 16px;
              font-weight: 700;
            }
          }
        }

        .info-message {
          padding: 16px;
          min-height: 48px;
          font-size: 14px;
          box-sizing: border-box;
        }

        &[data-item-grade='5'] {
          background-image: linear-gradient(to bottom, rgba(219, 255, 0, 0.05), rgba(219, 255, 0, 0.05)),
          linear-gradient(95deg, #be8d15 0%, #fd9 51%, #be8d15 100%);
        }

        &[data-item-grade='4'] {
          background-image: linear-gradient(to bottom, rgba(219, 255, 0, 0.05), rgba(219, 255, 0, 0.05)),
          linear-gradient(95deg, #ea5c3d 0%, #fb9 50%, #ee5a3b 100%);
        }

        &[data-item-grade='3'] {
          background-image: linear-gradient(to bottom, rgba(219, 255, 0, 0.05), rgba(219, 255, 0, 0.05)),
          linear-gradient(95deg, #46a 0%, #b1c3ff 49%, #46a 100%);
        }
      }
    }

    .wrap-fire {
      margin-top: 40px;

      ul.list {
        margin-top: 0;

        li {
          display: block;
          justify-content: initial;
          align-items: initial;
          min-height: inherit;
          padding: 16px 0;
          line-height: normal;

          &:first-of-type {
            border-top: 0;
          }

          strong {
            display: block;
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
            color: #fff;
          }

          p {
            font-size: 14px;
            font-weight: normal;
            line-height: normal;
            letter-spacing: -0.14px;
            color: rgba(#fff, 0.75);

            .point {
              color: #f6e0a3;
            }

            .time {
              color: #1ddb16;
            }
          }
        }
      }
    }

    .wrap-seller {
      margin-top: 40px;

      .title {
        font-size: 12px !important;
        font-weight: normal;
        letter-spacing: -0.12px;
        color: #fff;
      }

      .seller {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;

        .char-info {
          flex: 2;
          display: flex;
          flex-direction: column;
          font-size: 12px;
          font-weight: normal;
          line-height: normal;
          justify-content: flex-start;
          align-items: flex-start;

          strong {
            display: block;
            font-size: 16px;
            font-weight: 700;
            margin-top: 4px;
            color: #fff;
          }
        }

        .completed,
        .sale {
          margin-left: 16px;
          font-size: 12px;
          font-weight: normal;
          line-height: normal;
          text-align: right;
        }
      }
    }
  }

  .title-sub-detail {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 40px;
    margin: 48px 0 16px;

    .sub {
      font-size: 0.75em;
      font-weight: 400;
      opacity: .6;
    }
  }
}

.float-bottom {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;

  .fieldset.editable {
    @include fieldset-editable();
  }

  .sale-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 96px;

    padding: 16px 20px;
    box-sizing: border-box;
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    background-color: rgba(#fff, 0.1);

    .wrap-buy {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        text-align: left;

        strong {
          display: inline-block;
          font-size: 24px;
          font-weight: 700;
          letter-spacing: -0.48px;
          line-height: normal;
          color: #fff;
        }

        .rate {
          display: block;
          font-size: 12px;
          font-weight: normal;
          line-height: 1.67;
          color: rgba(#fff, 0.5);
        }
      }

      .btn {
        min-width: 161px;
        margin-left: 20px;
      }
    }

    .wrap-regi {
      width: 100%;

      .form-header {
        display: flex;
        justify-content: space-between;
        line-height: normal;

        .title {
          font-size: 12px !important;
          font-weight: 700;
          letter-spacing: -0.12px;
          color: #fff;
        }

        .notice {
          font-size: 12px;
          font-weight: normal;
          color: #fff;

          em {
            font-style: normal;
            font-size: 12px;
            font-weight: 700;
            color: #ffe600;
          }
        }
      }

      .wrap-button {
        margin: 24px -20px -16px;

        .btn {
          width: 100%;
        }
      }
    }
  }
}

.exd-detail-bottom {
  @include fieldset-editable();
}

.is-desktop {
  .contents {
    &[class*="market"] {
      background-position: calc(50% - 100px) 0;
      background-size: 1920px 504px;

      &.bg-legendary,
      &.bg-grade-5 {
        background-image: url("~@/assets/img/desktop/market/bg-item-legendary.webp");
      }

      &.bg-epic,
      &.bg-grade-4 {
        background-image: url("~@/assets/img/desktop/market/bg-item-epic.webp");
      }

      &.bg-rare,
      &.bg-grade-3 {
        background-image: url("~@/assets/img/desktop/market/bg-item-rare.webp");
      }

      &.bg-grade-2 {
        background-image: url("~@/assets/img/desktop/market/bg-item-grade2.webp");
      }

      &.single {
        background-position-x: 50%;
      }
    }

    .function {
      padding: 40px 0 16px;
    }
  }

  .exchange-market {
    width: 896px;

    &.add-float {
      padding-bottom: 128px;
    }

    .title {
      font-size: 20px;
    }

    .list {
      li {
        display: flex;
        align-items: center;
        width: 100%;
        border: 1px solid rgba(#fff, 0.15);
        border-width: 1px 0 0;
      }
    }

    .fieldset.editable {
      @include fieldset-editable();
    }

    .wrap-addition {
      display: flex;
      justify-content: space-between;
      margin-bottom: 56px;
      border-bottom: 1px solid rgba(#fff, 0.15);
      padding-bottom: 32px;

      hr {
        margin: 24px 0;
        border-width: 1px 0 0;
        border-color: rgba(#fff, 0.15);
      }

      .wrap-character-equip {
        width: 480px;
        height: 498px;

        .thumbs-character-equip {
          position: absolute;
          top: -24px;
        }

        & + .option-detail {
          margin-left: 40px;
        }
      }

      .list-character-equip {
        --equip-size: 72px;
        --item-slot-default-size: 48px;

        background: url('~@/assets/img/common/nft-detail/bg-character-equip.webp') 32px 32px / auto 423px no-repeat;

        &__item {
          .item-tier {
            bottom: 0;
            left: 0;
          }

          .item-enchance {
            font-size: 18px;
            letter-spacing: -0.01em;
            text-shadow: 0 1.1px 1.1px #000;
          }

          &[data-item-type='weapon'], &[data-item-type='slot-1'] {
            top: 10px;
            left: 118px;
          }

          &[data-item-type='subweapon'], &[data-item-type='slot-9'] {
            top: 79px;
            left: 40px;
          }

          &[data-item-type='top'], &[data-item-type='slot-5'] {
            top: 176px;
            left: 0;
          }

          &[data-item-type='bottom'], &[data-item-type='slot-6'] {
            top: 277px;
          }

          &[data-item-type='gloves'], &[data-item-type='slot-7'] {
            top: 358px;
            left: 60px;
          }

          &[data-item-type='boots'], &[data-item-type='slot-8'] {
            bottom: 16px;
            left: 144px;
          }

          &[data-item-type='neaklace'], &[data-item-type='slot-2'] {
            bottom: 14px;
            left: 242px;
          }

          &[data-item-type='bracelet'], &[data-item-type='slot-3'] {
            top: 370px;
            left: 334px;
          }

          &[data-item-type='ring'], &[data-item-type='slot-4'] {
            top: 294px;
            left: 396px;
          }

          &[data-item-type='earring'], &[data-item-type='slot-10'] {
            top: 194px;
            left: 408px;
          }
        }
      }

      .option-detail {
        flex: 1;
        margin-left: 64px;

        .list {
          margin-top: 32px;
          border-bottom-width: 0;

          li {
            span[class^='ico-'],
            img {
              margin-right: 8px;
            }
          }
        }

        .wrap-item-desc {
          .wrap-form {
            .form-header + .fieldset,
            .title + .fieldset {
              margin-top: 16px;
            }

            .form-header {
              display: flex;
              justify-content: space-between;
              line-height: normal;

              .notice {
                font-size: 12px;
                font-weight: normal;
                color: #fff;

                em {
                  font-style: normal;
                  font-size: 12px;
                  font-weight: 700;
                  color: #ffe600;
                }
              }
            }
          }

          .wrap-button {
            margin: 24px 0 16px;

            .price {
              .rate, .us-dollar {
                display: block;
                text-align: center;
                font-size: 12px;
                font-weight: normal;
                line-height: 1;
                margin-top: 4px;
              }
            }
          }

          .wrap-credit {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 32px;
            border-bottom: 1px solid rgba(#fff, 0.15);

            .credit-info {
              .category {
                font-size: 12px;
                font-weight: normal;
                letter-spacing: -0.12px;
                line-height: normal;
                color: #fff;
              }

              .info {
                margin-top: 4px;
                line-height: normal;

                span[class^='ico-'] {
                  margin: 0;
                  font-size: 32px;
                  font-weight: 700;
                  line-height: normal;
                  letter-spacing: -0.64px;
                  color: #fff;
                  white-space: normal;
                  word-break: break-all;
                  word-wrap: break-word;

                  &.add-inside {
                    padding-left: 32px;

                    &::before {
                      width: 28px;
                      height: 28px;
                    }
                  }
                }
                .add-inside {
                  width: fit-content;
                }
              }
            }

            .wrap-button {
              margin-top: 0;
              min-width: 284px;
            }
          }
        }

        .wrap-collectible-info {
          .wrap-info {
            .define {
              flex: 1;
              width: 25%;

              &:first-of-type {
                border-left-width: 0;
              }
            }
          }
        }
      }

      .wrap-fire {
        margin-top: 48px;
      }

      .wrap-seller {
        margin-top: 48px;

        .seller {
          .char-info {
            flex: 1;
          }

          .completed,
          .sale {
            width: 120px;
            margin-left: 40px;
            font-size: 12px;
            font-weight: normal;
            line-height: normal;
            text-align: right;
          }
        }
      }

      & + .wrap-overall {
        margin-top: -57px;
        border-top-width: 0;
      }

      .nft & {
        padding-bottom: 0;
        border-bottom-width: 0;
      }
    }

    .wrap-overall {
      padding: 57px 0 0;
      border-top: 1px solid rgba(#fff, 0.15);

      .overall-list {
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            flex: 0 1 440px;
            margin-top: 16px;
          }
        }
      }
    }

    .wrap-button {
      margin-top: 24px;

      .btn-viewmore {
        @include btn-viewmore($width: 100%);
      }
    }

    .title-sub-detail {
      margin: 64px 0 24px;
      line-height: 1.15;
    }

    .nft & {
      color: #fff;
    }
  }

  .float-bottom {
    .sale-item {
      .wrap-buy {
        justify-content: flex-end;

        .price {
          text-align: right;

          strong {
            font-size: 28px;
            letter-spacing: -0.56px;

            em {
              font-size: 16px;
            }
          }
        }
      }
    }

    .item-detail-table {
      margin: 0 0 0 56px;
      padding: 0;

      li {
        border-left-width: 0;
        padding: 0 28px;

        strong {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 4px;
          height: 28px;
          line-height: 1;
          font-size: 24px;
        }
      }
    }

    .item-info {
      .item-desc {
        font-size: 14px;
      }

      .item-name {
        font-size: 24px;
        white-space: nowrap;
      }
    }
  }

  .wrap-suggest {
    .suggest-header {
      .title {
        margin-bottom: 32px;
      }
    }

    .suggest-item {
      display: flex;
      min-height: 96px;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;
      box-sizing: border-box;
      background-color: rgba(#fff, 0.05);

      .function {
        padding: 0 0 0 0;
        margin-right: 16px;

        .view-more {
          font-size: 12px;
          font-weight: normal;
          color: #a0f;
        }
      }
    }

    .suggest-list {
      .wrap-filter {
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin: 12px 0;
      }

      .list {
        border-bottom-width: 0;
        padding-left: 0;

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          border-bottom: 1px solid rgba(#fff, 0.15);
          min-height: 80px;

          .char-info {
            min-width: 220px;
            padding-left: 16px;
          }

          .price,
          .score,
          .seller,
          .enhance {
            width: 140px;
            margin-left: 16px;
            line-height: normal;

            span {
              display: block;
              font-size: 12px;
              font-weight: normal;
              line-height: normal;
              color: rgba(#fff, 0.5);
            }

            strong {
              display: block;
              margin-top: 4px;
              font-size: 16px;
              font-weight: 700;
              line-height: normal;
              color: #fff;
            }
          }

          .price {
            dd {
              display: flex;

              &.us-dollar {
                font-size: 12px;
              }
            }

            [class^="ico-"] {
              span {
                font-size: 16px;
                font-weight: 700;
                color: #fff;
              }
            }
          }

          .btn-open-dialog {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            font-size: 0;
          }

          > dl {
            font-size: 12px;

            dt {
              display: block;
              margin-bottom: 8px;
            }

            dd {
              display: flex;
              align-items: baseline;
            }
          }

          &:hover {
            background: rgba(#fff, 0.05);
          }
        }

        .item-info {
          width: 380px;
        }

        .date {
          width: 160px;

          dd {
            color: #fff;
            align-items: baseline;
          }
        }

        .seller {
          width: 150px;

          dd {
            align-items: baseline;
            color: #fff;
          }

          .char-info {
            padding-left: 0;
            min-width: auto;

            .thumb {
              img {
                width: 32px;
              }

              & + .info {
                padding-left: 8px;
              }
            }

            .info {
              line-height: 1.333;

              .nick {
                font-weight: 400;
                font-size: 12px;
              }

              .server {
                color: rgba(#fff, 0.5);
              }
            }
          }
        }

        .price {
          width: 160px;
        }

        &:empty {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 220px;

          &::before {
            content: attr(data-empty-message);
            display: block;
            font-size: 16px;
            color: rgba(#fff, 0.5);
          }
        }
      }

      &.type2 {
        .list {
          li {
            margin-top: 15px;
            padding: 20px 0;

            &:first-of-type {
              margin-top: 0;
            }
          }
        }
      }

      &.type3 {
        .list {
          li {
            margin-top: 3px;
            padding: 11px 0;

            .item-info {
              width: 280px;
            }

            .price {
              width: 176px;

              [class^="ico-"].ico-ss.add-inside:before {
                width: 20px;
                height: 21px;
              }
            }

            .seller {
              width: 176px;
            }

            .date {
              width: 176px;
            }

            > dl {
              dt {
                margin-bottom: 0;
              }

              &.price dd span {
                font-size: 16px;
                color: #fff;
                font-weight: bold;
              }
            }
          }

          .scope {
            position: relative;
            color: #fff;
            font-size: 12px;
            white-space: nowrap;

            &:before {
              content: "";
              display: block;
              position: absolute;
              bottom: 3px;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: #fff;
            }
          }
        }
      }
    }

    .wrap-button {
      margin-top: 24px;

      .btn-viewmore {
        @include btn-viewmore($width: 100%);
      }
    }

    & + .wrap-overall {
      padding: 48px 0 0;
      border-top: 0;
    }
  }
}

.is-mobile {
  .contents {
    &[class*="market"] {

      &.bg-legendary,
      &.bg-grade-5 {
        background-image: url('~@/assets/img/mobile/market/bg-item-legendary.webp');
      }

      &.bg-epic,
      &.bg-grade-4 {
        background-image: url('~@/assets/img/mobile/market/bg-item-epic.webp');
      }

      &.bg-rare,
      &.bg-grade-3 {
        background-image: url('~@/assets/img/mobile/market/bg-item-rare.webp');
      }

      &.bg-grade-2 {
        background-image: url('~@/assets/img/mobile/market/bg-item-grade2.webp');
      }
    }

    .function {
      height: 100px;
    }
  }

  .exchange-market {
    .list {
      li {
        border-top: 1px solid rgba(#fff, 0.15);
      }
    }

    .suggest-header.no-gutter {
      .suggest-item {
        margin: 19px 0 0;
      }
    }

    .wrap-addition {
      .wrap-card {
        padding-top: 48px;

        .card {
          margin: 0 auto;
        }
      }

      .wrap-character-equip {
        margin: 0 auto;
        padding-top: 32px;
      }

      .list-character-equip {
        &__item {
          .item-enchance {
            color: #fff;
          }
        }
      }

      .option-detail {
        .list {
          margin-top: 24px;

          li {
            span[class^='ico-'] {
              border: 1px dashed gray;
            }
          }
        }

        .wrap-item-desc {
          .wrap-button {
            .btn {
              box-sizing: border-box;
            }
          }

          .item-title + .item-subtitle {
            margin-top: 6px;
          }

          .item-manual {
            .item-detail-table {
              margin-top: 26px;

              li {
                padding: 4px 8px;

                strong {
                  margin-top: 0;
                }

                &.level,
                &.power {
                  strong {
                    margin-top: -1px;
                  }
                }

                &.power {
                  strong {
                    font-size: 20px;
                  }
                }
              }

              &.size-lg {
                strong {
                  height: 32px;
                  line-height: 32px;
                  font-size: 24px;
                }
              }
            }
          }

        }

        .wrap-collectible-info {
          .wrap-info {
            .define {

              &:nth-of-type(2n + 1) {
                border-left-width: 0;
              }
            }
          }
        }
      }

      .wrap-seller {
        .seller {
          .completed,
          .sale {
            flex: 1;
          }
        }
      }
    }

    .title-sub-detail {
      height: 40px;
      color: #fff;
      font-weight: bold;
    }

    .wrap-suggest {
      padding: 40px 0 0;

      .suggest-item {
        display: flex;
        min-height: 80px;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        margin: 19px -15px 0;
        box-sizing: border-box;
        background-color: rgba(#fff, 0.05);

        .item-info {
          --card-width: 46px;
          --card-height: 46px;

          .wrap-item {
            img {
              width: 36px;
            }
          }
        }

        .function {
          .view-more {
            font-size: 12px;
            font-weight: normal;
            color: #a0f;
            white-space: nowrap;
          }
        }
      }

      .suggest-list {
        .wrap-filter {
          display: flex;
          justify-content: flex-end;
          position: relative;
          margin-top: 12px;

          & + .list {
            .list-header {
              border-top-width: 0;
            }
          }
        }

        .list {
          li {
            min-height: 56px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &.list-header {
              min-height: 40px;
              font-size: 10px;
              color: rgba(#fff, 0.75);
              border-top: 0;
            }

            > div {
              box-sizing: border-box;
            }

            .char-info {
              flex: 0 1 35%;
              text-align: right;
              justify-content: flex-end;
              color: #fff;

              .thumb {
                img {
                  width: 24px;
                }
              }

              .info {
                padding-left: 6px;
                @include ellipsis();

                .nick {
                  font-size: 12px;
                  font-weight: normal;
                  letter-spacing: -0.14px;
                  color: rgba(#fff, 0.75);
                }
              }
            }

            .score,
            .enhance {
              margin-left: 14px;
              line-height: normal;

              span {
                display: block;
                font-size: 12px;
                font-weight: normal;
                line-height: normal;
                color: rgba(#fff, 0.5);
              }

              strong {
                display: block;
                font-size: 16px;
                font-weight: 700;
                line-height: normal;
                color: #fff;
                text-align: center;
              }
            }

            .price {
              width: 30%;
              text-align: left;

              [class^="ico-"] {
                display: inline-block;
                width: auto;

                span {
                  font-size: 16px;
                  font-weight: 700;
                  color: #fff;
                  @include ellipsis();
                }
              }

              dd {
                font-size: 16px;
                font-weight: 700;
                color: #fff;

                .us-dollar {
                  font-size: 12px;
                }
              }
            }

            .score {
              width: 20%;
            }

            .enhance {
              width: 15%;
            }

            > div {
              &:first-of-type {
                margin-left: 0;
              }
            }
          }
        }

        .function {
          margin-top: 32px;
          text-align: center;
          height: inherit;
          justify-content: center;

          .view-more {
            font-size: 12px;
            font-weight: normal;
            color: #fff;
          }
        }
      }

      .wrap-button {
        margin-top: 16px;

        .btn-viewmore {
          @include btn-viewmore($width: 100%);
        }
      }

      &:only-child {
        padding-top: 10px;
      }
    }

    .wrap-overall {
      padding: 57px 0 0;
      border-top: 1px solid rgba(#fff, 0.15);

      .overall-list {
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            flex: 0 1 100%;
            margin-top: 16px;
          }
        }
      }
    }

    .wrap-suggest + .wrap-overall {
      padding: 48px 0 0;
      border-top: 0;
    }
  }

  .float-bottom {
    .sale-item {
      .wrap-buy {
        width: 100%;
      }

      .wrap-regi {
        width: 100%;

        .form-header {
          display: flex;
          justify-content: space-between;
          line-height: normal;

          .title {
            font-size: 12px !important;
            font-weight: 700;
            letter-spacing: -0.12px;
            color: #fff;
          }

          .notice {
            font-size: 12px;
            font-weight: normal;
            color: #fff;

            em {
              font-style: normal;
              font-size: 12px;
              font-weight: 700;
              color: #ffe600;
            }
          }
        }

        .wrap-button {
          margin: 24px -20px -16px;

          .btn {
            width: 100%;
          }
        }
      }
    }
  }
}
