.v-application {
  .contents.exd-event {
    --section-inner-width: 960px;
    --section-inner-padding: 24px;

    min-height: 100vh;
    background: url('~@/assets/img/mobile/promotion/2112-exd/bg-exd.webp') 50% 0 / 960px 400px no-repeat #000822;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      z-index: 0;
      width: 100%;
      opacity: 0;
      transform: translateY(-20px);
    }
    &::before {
      left: 50%;
      top: 214px;
      width: 198px;
      height: 144px;
      margin-left: -99px;
      background: url('~@/assets/img/mobile/promotion/2112-exd/exd-title.webp') 50% 0 / cover no-repeat;
      transition: opacity 0.6s ease-in-out 0.2s, transform 0.6s ease-out;
    }

    .section {
      &__inner {
        padding: 0;
        box-sizing: content-box;
      }
    }

    .init-playbook & {
      &::before,
      &::after {
        opacity: 1;
        transform: translate(0);
      }
      .section.section1 {
        .section__inner {
          &::after {
            opacity: 1;
            transform: translate(0);
          }
        }
      }
    }

    .headword {
      display: block;
      font-size: 24px;
      font-weight: 700;
      line-height: normal;
      color: #fff;
      margin-top: 64px;
    }

    .wrap-define {
      .define {
        margin-top: 24px;
        dt {
          font-size: 16px;
          font-weight: 700;
          line-height: 1.5;
          color: #fff;
        }
        dd {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 16px;

          .desc {
            font-size: 14px;
            font-weight: normal;
            line-height: 1.43;
            color: rgba(#fff, 0.5);

            .wrap-function {
              display: block;
              margin-top: 24px;
              a {
                display: inline-block;
                font-size: 12px;
                line-height: 2;
                color: #fff;
                border-bottom: 1px solid #fff;
              }
            }

            ul {
              list-style: none;
              margin: 0;
              padding: 0;
              margin-top: 24px;

              li {
                position: relative;
                font-size: 12px;
                font-weight: normal;
                line-height: 1.33;
                padding-left: 14px;
                margin-top: 8px;

                &:first-of-type {
                  margin-top: 0;
                }
                &::before {
                  content: '';
                  position: absolute;
                  left: 6px;
                  top: 6px;
                  width: 2px;
                  height: 2px;
                  border-radius: 100%;
                  background-color: rgba(#fff, 0.5);
                }
              }
            }
          }
          .wrap-img {
            flex: 1;
            width: 100%;
            margin-left: 0;
            margin-top: 40px;
          }
        }
      }

      .wrap-img {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        .area {
        }

        .wrap-image {
          img {
            display: block;
            max-width: 100%;
          }
          &.by-viewer {
            position: relative;
            cursor: zoom-in;

            &::before {
              content: '';
              position: absolute;
              right: 0;
              bottom: 0;
              width: 24px;
              height: 24px;
              background: url('~@/assets/img/mobile/promotion/2112-exd/btn-viewer.webp') 0 0 / cover no-repeat;
              opacity: 0;
            }
          }
        }

        figcaption {
          display: block;
          font-size: 12px;
          font-weight: normal;
          line-height: 1.5;
          color: rgba(#fff, 0.5);
          text-align: center;
          margin-top: 10px;
        }
      }
    }

    .section.section1 {
      .section__inner {
        padding: 0;
        max-width: var(--intro-draco-maxwidth);
        margin: 0 auto;
        box-sizing: border-box;

        .wrap-title {
          width: 100%;
          min-height: 400px;
          margin: 0 auto;
          text-align: center;

          .exd-title {
            display: inline-block;
            width: 147px;
            height: 56px;
            background: url('~@/assets/img/mobile/promotion/2112-exd/bi-exd.webp') 50% 0 / cover no-repeat;
          }
          .text-introduce {
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            margin-top: 8px;
            color: #fff;
          }
        }

        .wrap-preparate {
          text-align: center;
          line-height: normal;

          .event-title {
            font-size: 24px;
            font-weight: 700;
            color: #fff;
          }
          .desc {
            font-size: 14px;
            font-weight: normal;
            line-height: 1.43;
            color: rgba(#fff, 0.75);
            margin-top: 16px;
          }
        }

        .event-content {
          margin-top: 24px;
          line-height: normal;
          text-align: center;

          .notice {
            font-size: 14px;
            font-weight: 700;
            line-height: 1.43;
            color: #fd0;

            &.alert {
              color: #f00;
            }
          }

          .event-step {
            list-style: none;
            margin: 0 auto;
            padding: 0;
            display: flex;
            justify-content: space-between;

            &.loading {
              li {
                .wrap-detail {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 100%;
                }
              }
            }

            li {
              flex: 0 1 33.33%;
              background-image: linear-gradient(123.53deg, #111022 0%, #111133 51.69%, #111022 101%);
              min-height: 300px;
              padding: 30px 12px;
              box-sizing: border-box;
              text-align: center;
              width: 100%;

              &.active {
                border-style: solid;
                border-width: 2px;
                border-image-source: linear-gradient(to bottom, #ffe600, #660);
                border-image-slice: 1;
                .ico-checked {
                  background: url('~@/assets/img/mobile/promotion/2112-exd/ico-checked-point.webp') 50% 50% / cover no-repeat;
                }
              }
              &.alert {
                border: 2px solid #f00;
                .ico-checked {
                  background: url('~@/assets/img/mobile/promotion/2112-exd/ico-close-point.webp') 50% 50% / cover no-repeat;
                }
                .condition {
                  color: #f00;
                }
              }

              .ico-checked {
                display: inline-block;
                width: 48px;
                height: 48px;
                background: url('~@/assets/img/mobile/promotion/2112-exd/ico-checked.webp') 50% 50% / cover no-repeat;
              }

              .goal {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-height: 104px;
                margin-top: 0;
                small {
                  display: block;
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 1.33;
                  color: #fff;
                }
                strong {
                  font-size: 40px;
                  font-weight: 700;
                  line-height: 1;
                  color: #fff;
                }
                .ico-wemix.ico-sm {
                  display: inline-block;
                  width: 48px;
                  height: 48px;
                  box-sizing: border-box;
                  margin: 0;
                }
                .level {
                  small {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: normal;
                    color: #ffe600;
                  }
                  strong {
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 1;
                    color: #ffe600;
                  }
                }

                .membercount {
                  small {
                    display: block;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 1.33;
                    color: #fff;
                  }
                  strong {
                    display: block;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 1.33;
                    color: #fff;
                  }
                  &.nosync {
                    strong {
                      font-size: 40px;
                      line-height: 1;
                      margin-top: 8px;
                    }
                  }
                }
              }
              .condition {
                margin-top: 0;
                font-size: 12px;
                font-weight: normal;
                line-height: 1.5;
                color: #fff;

                .setting {
                  display: block;
                  text-align: center;
                  margin: 0 auto;
                  text-decoration: underline;
                  color: #fff;
                }
              }
            }
          }
          .wrap-button {
            text-align: center;
            margin: 0 auto;

            .btn-checknow {
              font-size: 24px;
              font-weight: 700;
              line-height: normal;
              color: #ffdd00;
              border-style: solid;
              border-width: 1px;
              border-image-source: linear-gradient(to bottom, #fff6a5, #897b00);
              border-image-slice: 1;
              background-image: linear-gradient(95deg, #080014 0%, #232300 51%, #080014 100%);
            }

            .btn-reward {
              font-size: 24px;
              font-weight: 700;
              line-height: normal;
              color: #000;
              border-style: solid;
              border-width: 1px;
              border-image-source: linear-gradient(to bottom, #ffe600, #4d4500);
              border-image-slice: 1;
              background-image: linear-gradient(to right, #c19e4b 0%, #ae8c36 23%, #ffda7f 48%, #96782d 84%);
            }

            .btn {
              width: 100%;
              height: 64px;
            }
          }

          .event-step + .wrap-button {
            margin-top: 8px;
          }
        }
      }
    }

    .exdis {
      margin-top: 40px;
      border-top: 1px solid rgba(#fff, 0.2);

      .headword {
        font-size: 40px;
        font-weight: 700;
        line-height: normal;
        color: #fff;
        margin-top: 0;
      }

      .text-desc {
        margin-top: 24px;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        color: rgba(#fff, 0.5);
      }
    }

    .exd-youtube {
      position: relative;
      margin: 74px auto 16px;
      width: 100%;

      .wrap-youtube {
        &.no-gutter {
          padding-top: 0;
          width: 960px;
          height: auto;
        }
      }
    }
  }
}

.dialog-exdevent {
  &.theme-dark {
    background: url('~@/assets/img/mobile/promotion/2112-exd/bg-exd-event.webp') 50% 0 / cover no-repeat;
    color: #fff;

    .content {
      color: rgba(#fff, 0.75);
    }
  }

  .event-content {
    .wrap-reward {
      text-align: center;
      .ticket {
        display: inline-block;
        margin-top: 60px;
        vertical-align: top;
      }
      .message {
        margin-top: 24px;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
        color: #fff;
      }
      .desc {
        margin-top: 8px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.29;
        color: rgba(#fff, 0.5);
      }
    }
    .wrap-reward + .wrap-button {
      text-align: center;

      .btn {
        width: 100%;
      }
    }
  }
}

.is-desktop {
  .v-application {
    .contents.exd-event {
      background: url('~@/assets/img/desktop/promotion/2112-exd/bg-exd.webp') 50% 0 / 1920px 1024px no-repeat, url('~@/assets/img/desktop/promotion/2112-exd/bg-exd-gradient.webp') 0 0 / 1px 1024px repeat-x #000822;

      &::before {
        top: 321px;
        width: 460px;
        height: 353px;
        margin-left: -230px;
        background: url('~@/assets/img/desktop/promotion/2112-exd/exd-title.webp') 50% 0 / cover no-repeat;
      }

      .section {
        max-width: none;
        &__inner {
          padding: 0 24px;
          box-sizing: content-box;
        }
      }

      .headword {
        font-size: 32px;
        margin-top: 120px;
      }

      .text-desc {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.33;
        margin-top: 24px;
      }

      .wrap-define {
        .define {
          margin-top: 40px;

          dd {
            margin-top: 16px;

            .desc {
              font-size: 16px;
              line-height: 1.5;

              .wrap-function {
                margin-top: 16px;

                a {
                  font-size: 14px;
                  line-height: 1.71;
                }
              }

              ul {
                margin-top: 16px;
                li {
                  padding-left: 16px;
                }
              }
            }
            .wrap-img {
              flex: 0 0 460px;
              width: 460px;
              margin-left: 64px;
              margin-top: -40px;
            }
          }
        }

        .wrap-img {
          display: flex;
          justify-content: space-between;
          gap: 24px;
          .area {
          }

          .wrap-image {
            &.by-viewer {
              &::before {
                width: 40px;
                height: 40px;
                background: url('~@/assets/img/desktop/promotion/2112-exd/btn-viewer.webp') 0 0 / cover no-repeat;
                transition: opacity 400ms ease;
              }
              &:hover {
                &::before {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      .section.section1 {
        .section__inner {
          max-width: 848px;

          .wrap-title {
            min-height: 530px;
            padding-top: 78px;


            .exd-title {
              width: 315px;
              height: 120px;
              background: url('~@/assets/img/desktop/promotion/2112-exd/bi-exd.webp') 50% 0 / cover no-repeat;
            }
            .text-introduce {
              font-size: 40px;
              margin-top: 24px;
            }
          }

          .wrap-preparate {
            margin-top: 138px;

            .event-title {
              font-size: 40px;
            }
            .desc {
              font-size: 24px;
              font-weight: 700;
              line-height: 1.33;
              color: #fff;
            }
          }

          .event-content {
            margin-top: 40px;

            .notice {
              font-size: 16px;
              line-height: 2;
            }

            .event-step {
              margin: 32px auto 0;

              li {
                flex: 0 1 280px;
                min-height: 360px;
                padding: 48px 24px;
                width: 280px;

                &.active {
                  .ico-checked {
                    background: url('~@/assets/img/desktop/promotion/2112-exd/ico-checked-point.webp') 50% 50% / cover no-repeat;
                  }
                }
                &.alert {
                  .ico-checked {
                    background: url('~@/assets/img/desktop/promotion/2112-exd/ico-close-point.webp') 50% 50% / cover no-repeat;
                  }
                }

                .ico-checked {
                  width: 64px;
                  height: 64px;
                  background: url('~@/assets/img/desktop/promotion/2112-exd/ico-checked.webp') 50% 50% / cover no-repeat;
                }

                .goal {
                  min-height: 120px;

                  small {
                    font-size: 14px;
                  }
                  strong {
                    line-height: 1.35;
                  }
                  .ico-wemix.ico-sm {
                    width: 72px;
                    height: 72px;
                  }

                  .level {
                    small {
                      font-size: 24px;
                    }
                    strong {
                      font-size: 56px;
                    }
                  }

                  .membercount {
                    small {
                      font-size: 14px;
                      line-height: 1.29;
                    }

                    strong {
                      font-size: 32px;
                    }

                    &.nosync {
                      strong {
                        font-size: 56px;
                      }
                    }
                  }
                }

                .condition {
                  min-height: 60px;
                  margin-top: 8px;
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 1.43;
                }
              }
            }
            .wrap-button {
              text-align: center;
              margin: 0 auto;

              .btn-checknow {
                font-size: 32px;
              }

              .btn-reward {
                font-size: 32px;
              }

              .btn {
                width: 100%;
                height: 80px;
              }
            }

            .event-step + .wrap-button {
              margin-top: 8px;
            }
          }
        }
      }

      .exdis {
        margin-top: 80px;
        padding-top: 79px;

        .headword {
          font-size: 72px;
        }

        .text-desc {
          font-size: 20px;
          line-height: 1.6;
        }
      }

      .exd-youtube {
        .wrap-youtube {
          margin-top: 120px;
        }
      }
    }
  }

  .dialog-exdevent {
    width: 720px;

    &.theme-dark {
      background: url('~@/assets/img/desktop/promotion/2112-exd/bg-exd-event.webp') 50% 0 / 100% auto no-repeat,
      linear-gradient(140deg, #362164 0%, #0f002f 50%, #362164 101%);
      color: #fff;

      .content {
        padding-bottom: 40px;
      }
    }
    .event-content {
      .wrap-reward {
        line-height: normal;

        .ticket {
          margin-top: 50px;
        }

        .message {
          margin-top: 40px;
          font-size: 28px;
          line-height: normal;
        }
        .desc {
          display: block;
          margin: 24px auto 0;
          max-width: 560px;
          text-align: center;
        }
      }
      .wrap-reward + .wrap-button {
        margin-top: 40px;

        .btn {
          width: inherit;
          min-width: 171px;
        }
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .is-desktop {
    .v-application .contents.playbook {
      .section.section1 {
        .section__inner {
          .wrap-title {
            padding: 62px 24px 56px;
          }
          &::after {
          }
        }
      }
    }
  }
}

.is-mobile {
  .v-application {
    .contents.exd-event {
      .section {
        margin: 0;
        width: 100%;
      }

      .wrap-define {
        .wrap-img {
          display: flex;
          justify-content: space-between;
          gap: 24px;
          .area {
          }
        }
      }

      .section.section1 {
        .section__inner {
          .wrap-title {
            padding: 86px 12px 0;
            box-sizing: border-box;
            line-height: normal;
          }

          .wrap-preparate {
            padding: 0 24px;
          }

          .event-content {
            margin-top: 24px;

            .notice {
              display: block;
              min-height: 72px;
              padding: 16px;
              box-sizing: border-box;
              background-color: #090115;
            }

            .event-step {
              gap: 2px;

              li {
                .goal {
                  .membercount {
                    &.nosync {
                      strong {
                        font-size: 40px;
                      }
                    }
                  }
                }
              }
            }

            .wrap-button {
              text-align: center;
              margin: 0 auto;

              .btn-reward {
                font-size: 24px;
              }

              .btn {
                width: 100%;
                height: 64px;
              }
            }

            .event-step + .wrap-button {
              margin-top: 8px;
            }
          }
        }
      }

      .exdis {
        padding: 40px 24px 0;
      }

      .exd-youtube {
        position: relative;
        margin: 74px auto 16px;
        width: 100%;

        .wrap-youtube {
          iframe {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
          }
        }
      }

      .exd-item {
        padding: 0 24px;
      }
    }
  }

  .dialog-exdevent {
    position: relative;
    margin: 24px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 0;

    &.v-dialog--fullscreen {
      margin: 0;
    }
    .event-content {
      .wrap-reward {
        .desc {
          margin-top: 8px;
        }
      }
      .wrap-reward + .wrap-button {
        margin: 36px -24px -24px;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .is-mobile {
    .v-application {
      .contents.exd-event {
        .section.section1 {
          .section__inner {
            .event-content {
              .notice {
                min-height: 52px;
              }
            }
          }
        }
      }
    }
  }
}
