.v-application {
  .nft-playbook {
    --section-inner-padding: 24px;
    --section-inner-width: 960px;

    padding-top: 54px;
    min-height: 100vh;
    background: url('~@/assets/img/common/nft-playbook/nftplaybook-tobpg.webp')
        50% 0 / 960px 350px no-repeat,
      linear-gradient(to bottom, #030222 350px, #020222);

    .section {
      max-width: 640px;

      &__inner {
        padding: 0;
        box-sizing: content-box;
      }

      &.section4 {
        margin-top: 40px;

        .wrap-define {
          .define {
            dt {
              font-size: 24px;
              line-height: 1.167;
            }
          }
        }
      }
    }

    .headword {
      display: block;
      font-size: 24px;
      font-weight: 700;
      line-height: normal;
      color: #fff;
      margin-top: 64px;
    }

    .text-desc {
      margin-top: 24px;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.5;
      color: rgba(#fff, 0.5);
    }

    .wrap-define {
      .define {
        margin-top: 40px;

        dt {
          font-size: 16px;
          font-weight: 700;
          line-height: 1.5;
          color: #fff;
        }

        dd {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 24px;

          .desc {
            font-size: 14px;
            font-weight: normal;
            line-height: 1.43;
            color: rgba(#fff, 0.5);

            .wrap-function {
              display: block;
              margin-top: 24px;

              a {
                display: inline-block;
                font-size: 12px;
                line-height: 2;
                color: #fff;
                border-bottom: 1px solid #fff;
              }
            }

            ul {
              list-style: none;
              margin: 0;
              padding: 0;
              margin-top: 24px;

              li {
                position: relative;
                font-size: 12px;
                font-weight: normal;
                line-height: 1.33;
                padding-left: 14px;
                margin-top: 4px;

                &:first-of-type {
                  margin-top: 0;
                }

                &::before {
                  content: '';
                  position: absolute;
                  left: 6px;
                  top: 6px;
                  width: 2px;
                  height: 2px;
                  border-radius: 100%;
                  background-color: rgba(#fff, 0.5);
                }
              }
            }
          }

          .wrap-img {
            flex: 1;
            width: 100%;
            margin-left: 0;
            margin-top: 40px;
          }
        }

        &:first-child {
          margin-top: 24px;
        }
      }

      .wrap-img {
        display: flex;
        justify-content: space-between;
        gap: 24px;

        .wrap-image {
          img {
            display: block;
            max-width: 100%;
          }

          &.by-viewer {
            position: relative;
            cursor: zoom-in;

            &::before {
              content: '';
              position: absolute;
              right: 0;
              bottom: 0;
              width: 24px;
              height: 24px;
              background: url('~@/assets/img/mobile/promotion/2112-exd/btn-viewer.webp')
                0 0 / cover no-repeat;
              opacity: 0;
            }
          }
        }

        figcaption {
          display: block;
          font-size: 12px;
          font-weight: normal;
          line-height: 1.5;
          color: rgba(#fff, 0.5);
          text-align: center;
          margin-top: 10px;
        }
      }
    }

    .nft-headline {
      line-height: normal;

      .headword {
        font-size: 40px;
        margin-top: 0;
      }

      .sub-headword {
        display: block;
        margin-top: 8px;
        font-size: 16px;
        color: #fff;
      }
    }

    .nft-youtube {
      .wrap-youtube {
        position: relative;
        margin-top: 0;
        padding-top: 56.25%;
        height: 0;

        &.no-gutter {
          padding-top: 0;
          width: 960px;
          height: auto;
        }
      }
    }

    .txt-remark {
      font-size: 20px;
      color: #fff;
      line-height: normal;
    }
  }
}

.is-desktop {
  .v-application {
    .nft-playbook {
      padding-top: var(--navexd-height);
      background: url('~@/assets/img/common/nft-playbook/nftplaybook-tobpg.webp')
          50% 0 / 1920px 700px no-repeat,
        linear-gradient(to bottom, #030222 700px, #020222);

      .section {
        max-width: none;
        margin-top: 0;

        &__inner {
          padding: 0 24px;
        }

        &.section4 {
          margin-top: 80px;

          .wrap-define {
            .define {
              dt {
                font-size: 32px;
                line-height: normal;
              }

              dd {
                .wrap-img {
                  margin-top: -54px;
                }
              }
            }
          }
        }

        &.remark {
          margin: 120px 0 40px;
          text-align: center;
        }
      }

      .headword {
        font-size: 32px;
        margin-top: 120px;
      }

      .text-desc {
        margin-top: 24px;
        font-size: 20px;
        font-weight: normal;
        line-height: 1.6;
        color: rgba(#fff, 0.5);
      }

      .wrap-define {
        .define {
          dd {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 16px;

            .desc {
              font-size: 16px;
              line-height: 1.5;

              .wrap-function {
                margin-top: 16px;

                a {
                  font-size: 14px;
                  line-height: 1.71;
                }
              }

              ul {
                margin-top: 16px;

                li {
                  padding-left: 16px;
                  margin-top: 8px;
                }
              }
            }

            .wrap-img {
              flex: 0 0 460px;
              width: 460px;
              margin-left: 64px;
              margin-top: -40px;
            }
          }
        }

        .wrap-img {
          .wrap-image {
            &.by-viewer {
              &::before {
                width: 40px;
                height: 40px;
                background: url('~@/assets/img/desktop/promotion/2112-exd/btn-viewer.webp')
                  0 0 / cover no-repeat;
                transition: opacity 400ms ease;
              }

              &:hover {
                &::before {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      .nft-headline {
        padding-top: 75px;

        .headword {
          font-size: 72px;
        }

        .sub-headword {
          margin-top: 6px;
          font-size: 32px;
        }
      }

      .nft-youtube {
        .wrap-youtube {
          margin-top: 120px;

          iframe {
            vertical-align: top;
          }
        }
      }

      .txt-remark {
        font-size: 40px;
        line-height: 1.15;
      }
    }
  }
}

.is-mobile {
  .v-application {
    .nft-playbook {
      .section {
        margin: 0;
        width: 100%;

        &.section4 {
          margin-bottom: 40px;
        }

        &.remark {
          margin-top: 64px;
          text-align: center;
        }
      }

      .wrap-define {
        .define {
          &:first-child {
            margin-top: 24px;
          }
        }
      }

      .nft-headline {
        padding: 40px 24px 0;

        .headword {
          font-weight: 700;
          color: #fff;
        }
      }

      .nft-youtube {
        position: relative;
        margin: 64px auto 0;
        width: 100%;

        .wrap-youtube {
          iframe {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
          }
        }
      }

      .nft-item {
        padding: 0 24px;
      }
    }
  }
}
