.dsp-preround {
  display: block;
  position: relative;
  width: 100%;
  margin: 16px auto 0;
  padding: 24px;
  background: url('~@/assets/img/mobile/promotion/2111/bg-dsp-event2.webp') 50%
      50% / cover no-repeat,
    linear-gradient(140deg, #362164 0%, #0f002f 50%, #362164 101%);

  .title {
    display: block;
    margin: 20px auto 0;
    width: 308px;
    height: 111px;
    text-align: center;
    background: url('~@/assets/img/mobile/promotion/2111/dsp-kickoff-event.webp')
      0 0 / cover no-repeat;
  }
  .desc {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    line-height: 1.43;
    text-align: center;
  }
  .title + .desc {
    margin-top: 16px;
  }
  .wrap-button {
    margin-top: 37px;
    text-align: center;

    .deadline {
      font-size: 12px;
      font-weight: normal;
      color: rgba(#fff, 0.5);
    }

    .btn {
      width: 100%;
      height: 72px;
      margin-top: 16px;

      .btn-message {
        font-size: 14px;
        font-weight: 700;
      }
    }

    .btn-wemix {
      width: 100%;
      height: 64px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      vertical-align: middle;
      background-color: #a0f;
      margin-top: 16px;

      &:before {
        content: '';
        display: inline-block;
        width: 117px;
        height: 32px;
        background: url('~@/assets/img/mobile/promotion/2111/ci-wemixbox.webp')
          0 0 / cover no-repeat;
        vertical-align: middle;
        padding-right: 10px;
        margin: -4px 10px 0 0;
      }
    }
  }
  .btn {
    &.btn-logout {
      position: absolute;
      top: 16px;
      right: 16px;
      height: 28px;
      font-size: 14px;
    }
  }
}

.dialog-launch {
  &.theme-dark {
    color: #fff;

    .content {
      color: rgba(#fff, 0.75);
    }
  }

  .dialog-header {
    margin: -24px -20px 0;
    padding: 16px 24px 0;

    .title {
      display: block;
      margin: 16px auto 0;
      width: 309px;
      height: 212px;
      text-align: center;
      background: url('~@/assets/img/mobile/promotion/2111/dsp-kickoff-event-pop.webp')
        0 0 / cover no-repeat;
    }
    .desc {
      text-align: center;
      p {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.25;
        color: #fff;
      }
      small {
        display: block;
        margin-top: 16px;
        color: #ffffff50;
      }
    }
  }

  .event-content {
    > .notice {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 72px;
      margin-top: 20px;
      font-size: 12px;
      font-weight: 700;
      line-height: 1.5;
      color: #fff;
      text-align: center;
      &.alert {
        color: #f00;
      }
    }
    .event-step {
      list-style: none;
      margin: 8px auto 0;
      padding: 0;
      display: flex;
      justify-content: center;

      li {
        border: 1px solid rgba(#fff, 0.2);
        padding: 15px 9px;
        text-align: center;
        &:first-of-type {
          margin-left: 0;
        }

        &.alert {
          border: 1px solid #f00;
        }
        .ico-checked {
          display: inline-block;
          width: 43px;
          height: 32px;
          background: url('~@/assets/img/mobile/promotion/2111/ico-checked-point.webp')
            50% 50% / cover no-repeat;
        }
        .ico-close-point {
          display: inline-block;
          width: 32px;
          height: 32px;
          background: url('~@/assets/img/mobile/promotion/2111/ico-close-point.webp')
            50% 50% / cover no-repeat;
        }
        .goal {
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 48px;
          margin-top: 16px;

          .ico-darco.ico-sm {
            font-size: 32px;
            line-height: 24.4px;
            color: #fff;
            padding-left: 36px;

            &:before {
              width: 32px;
              height: 32px;
            }
          }
          .ico-mir4box.ico-sm,
          .ico-wemixbox.ico-sm {
            display: inline-block;
            width: 48px;
            height: 48px;
            margin: 0;
          }
          .membercount {
            small {
              display: block;
              font-size: 8px;
              font-weight: 700;
              line-height: 1.46;
              color: #fff;
              letter-spacing: -0.1px;
            }
            strong {
              display: block;
              font-size: 20px;
              font-weight: 700;
              line-height: 29.2px;
              color: #fff;
            }
          }
        }
        .condition {
          max-width: 130px;
          min-height: 64px;
          margin-top: 8px;
          font-size: 12px;
          font-weight: 700;
          line-height: 1.43;
          color: #fff;
        }
      }
    }
    .wrap-button {
      text-align: center;
      margin: 0 -20px -20px;

      .deadline {
        font-size: 12px;
        font-weight: normal;
        line-height: normal;
        color: #ffffff50;
        padding: 0 20px;
        box-sizing: border-box;
      }
      .btn {
        width: 100%;
        margin-top: 8px;
      }
    }

    .event-step + .wrap-button {
      margin-top: 32px;
    }

    .wrap-reward {
      text-align: center;
      .ticket {
        display: inline-block;
        margin-top: 32px;
      }
      .message {
        margin-top: 32px;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
        color: #fff;
      }
      .desc {
        margin-top: 16px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.29;
        color: #fff;
      }
    }
    .wrap-reward + .wrap-button {
      text-align: center;
      margin-top: 24px;

      .btn {
        width: 100%;

      }
    }
  }
}

.is-desktop {
  .dsp-preround {
    width: 896px;
    height: 408px;
    margin: 40px auto 16px;
    padding: 36px;
    background: url('~@/assets/img/desktop/promotion/2111/bg-dsp-eventbanner.webp')
    0 0 / cover no-repeat;
    box-sizing: border-box;

    .title {
      margin: 9px auto 0;
      width: 573px;
      height: 112px;
      background: url('~@/assets/img/desktop/promotion/2111/dsp-kickoff-event.webp')
      0 0 / cover no-repeat;
    }

    .desc {
      margin: 0 10%;
      font-size: 18px;
      line-height: 1.56;
    }

    .wrap-button {
      margin-top: 23px;

      .deadline {
        font-size: 16px;
      }

      .btn {
        margin-top: 12px;

        .btn-message {
          font-size: 24px;
        }
      }

      .btn-wemix {
        height: 72px;
        margin-top: 12px;

        &:before {
          background: url('~@/assets/img/desktop/promotion/2111/ci-wemixbox.webp')
          0 0 / cover no-repeat;
        }
      }
    }

    .btn {
      &.btn-logout {
        top: 30px;
        right: 30px;
        height: 35px;
        font-size: 16px;
      }
    }
  }

  .dialog-launch {
    &.theme-dark {
      background: url('~@/assets/img/desktop/promotion/2111/bg-dsp-event.webp')
      50% 0 / 100% auto no-repeat,
      linear-gradient(140deg, #362164 0%, #0f002f 50%, #362164 101%);

      .content {
        padding-bottom: 40px;
      }
    }

    .dialog-header {
      margin: -24px -24px 0;

      .title {
        width: 573px;
        height: 112px;
        background: url('~@/assets/img/desktop/promotion/2111/dsp-kickoff-event.webp')
        0 0 / cover no-repeat;
      }

      .desc {
        p {
          margin-top: 24px;
          font-size: 18px;
          line-height: 1.44;
        }

        small {
          margin-top: 8px;
        }
      }
    }

    .event-content {
      > .notice {
        align-items: flex-end;
        min-height: 88px;
        margin-top: 16px;
        font-size: 14px;
        line-height: 1.71;
      }

      .event-step {
        margin: 24px auto 0;
        justify-content: space-between;
        max-width: 560px;

        li {
          flex: 1;
          max-width: 176px;
          padding: 30px 18px;
          text-align: center;

          .ico-checked {
            width: 64px;
            height: 48px;
            background: url('~@/assets/img/desktop/promotion/2111/ico-checked-point.webp')
            50% 50% / cover no-repeat;
          }

          .ico-close-point {
            width: 64px;
            height: 52px;
            background: url('~@/assets/img/desktop/promotion/2111/ico-close-point.webp')
            50% 50% / cover no-repeat;
          }

          .goal {
            min-height: 72px;

            .ico-darco.ico-sm {
              font-size: 48px;
              line-height: 36.6px;

              padding-left: 48px;

              &:before {
                width: 44px;
                height: 44px;
              }
            }

            .ico-mir4box.ico-sm,
            .ico-wemixbox.ico-sm {
              width: 72px;
              height: 72px;
              box-sizing: border-box;
            }

            .ico-mir4box.ico-sm {
              margin-left: 5px;
            }

            .membercount {
              small {
                font-size: 16px;
                line-height: 1.33;
              }

              strong {
                margin-top: 4px;
                font-size: 34px;
                line-height: 1.18;
              }
            }
          }

          .condition {
            min-height: 60px;
            font-size: 14px;
          }
        }
      }

      .wrap-button {
        max-width: 560px;
        margin: 0 auto;

        .deadline {
          font-size: 16px;
        }

        .btn {
          margin-top: 16px;
        }
      }

      .event-step + .wrap-button {
        margin-top: 24px;
      }

      .wrap-reward {
        .ticket {
          margin-top: 87px;
        }

        .message {
          margin-top: 20px;
          font-size: 28px;
          line-height: 1.43;
        }

        .desc {
          margin-top: 34px;
          line-height: 1.71;
          color: #fff;
        }
      }

      .wrap-reward + .wrap-button {
        margin-top: 68px;

        .btn {
          width: inherit;
          min-width: 171px;
        }
      }
    }
  }
}

.is-mobile {
  .dsp-preround {
    .desc {
      line-height: 1.43;
    }

    .wrap-button {
      .btn {
        margin-top: 16px;

        .btn-message {
          line-height: 1.29;
        }
      }
    }
  }

  .dialog-launch {
    position: relative;
    margin: 16px;
    padding: 20px;
    box-sizing: border-box;

    &.theme-dark {
      background: url('~@/assets/img/mobile/promotion/2111/bg-dsp-event.webp')
      50% 0 / 100% auto no-repeat,
      -webkit-linear-gradient(50deg, #362164 0%, #0f002f 50%, #362164 101%);
      background: url('~@/assets/img/mobile/promotion/2111/bg-dsp-event.webp')
      50% 0 / 100% auto no-repeat,
      -o-linear-gradient(50deg, #362164 0%, #0f002f 50%, #362164 101%);
      background: url('~@/assets/img/mobile/promotion/2111/bg-dsp-event.webp')
      50% 0 / 100% auto no-repeat,
      linear-gradient(140deg, #362164 0%, #0f002f 50%, #362164 101%);

    }
    &.v-dialog--fullscreen {
      margin: 0;
    }

    .dialog-header {
      box-sizing: border-box;

      .title {
        background: url('~@/assets/img/mobile/promotion/2111/dsp-kickoff-event-pop.webp')
        0 0 / cover no-repeat;
      }
      .desc {
        p {
          margin-top: 16px;
          font-size: 16px;
          line-height: 1.25;
        }
        small {
          font-size: 12px;
          font-weight: normal;
        }
      }
    }

    .event-content {
      .event-step {
        li.alert + li.alert {
          margin-left: 1px;
        }
        li + li.alert {
          margin-left: -1px;
        }

        li {
          margin-left: -1px;

          &:first-of-type {
            margin-left: 0;
          }

          &.alert {
            margin-left: 1px;
          }

          .goal {
            .ico-darco.ico-sm {
              font-weight: 700;
            }

            .membercount {
              small {
                letter-spacing: -0.1px;
              }
              strong {
                line-height: 29.2px;
              }
            }
          }
          .condition {
            max-width: 130px;
          }
        }
      }
      .wrap-button {
        .deadline {
          font-size: 12px;
          padding: 0 20px;
          box-sizing: border-box;
        }
        .btn {
          width: 100%;
          margin-top: 8px;
          font-size: 14px;
          font-weight: 700;
          line-height: 1.71;
        }
      }
    }
  }
}
